<!-- views/partials/footer.ejs -->
<!-- Footer -->
<footer>
<div class="footer-info">
	<div class="container">
		<div class="box-info">
			<h2>Alice Nails &amp; Spa</h2>
			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-12">
					<p><i class="fa fa-home" aria-hidden="true"></i> Trụ sở chính TP.HCM</p>
					<p><i class="fa fa-map-marker" aria-hidden="true"></i> <a href="https://www.google.com/maps/place/TK28%2F6+Nguy%E1%BB%85n+C%E1%BA%A3nh+Ch%C3%A2n,+C%E1%BA%A7u+Kho,+Qu%E1%BA%ADn+1,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/@10.7588086,106.6885459,17.75z/data=!4m5!3m4!1s0x31752f10746cf489:0xb72657dd399f99ff!8m2!3d10.7587334!4d106.6883899?hl=vi-VN" target="_blank">28/6 Nguyễn Cảnh Chân, P. Cầu Kho, Quận 1</a></p>
					<p><i class="fa fa-facebook" aria-hidden="true"></i> <a href="https://www.facebook.com" target="_blank">Tien Le Nguyen (Tien Tien)</a></p>
				</div>

				<div class="col-md-3 col-sm-3 col-xs-12">
					<p><i class="fa fa-mobile" aria-hidden="true"></i> <a href="tel:0938391656">0938.39.16.56</a></p>
					<p><i class="fa fa-globe"></i> Website : <a href="index.html">https://alicenailsspa.vn</a></p>
				</div>

				<div class="col-md-3 col-sm-3 col-xs-12">
					<p><i class="fa fa-calendar" aria-hidden="true"></i> Làm việc: 8h - 20h các ngày trong tuần</p>
					<p><i class="fa fa-envelope"></i> Email : <a href="mailto:info@benhvienaau.vn">info@benhvienaau.vn</a></p>
				</div>

				<div class="col-md-3 col-sm-3 col-xs-12">
					<p><i class="fa fa-copyright" aria-hidden="true"></i> Alice Nails &amp; Spa © 2017</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="fbar">
	<div class="container">
		<div class="row">
			<div class="social col-md-6 col-sm-6 col-xs-12"> Theo dõi chúng tôi: 
				<a href="https://www.facebook.com/BenhVienThamMyAAu" rel="nofollow" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a href="#" rel="nofollow" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
				<a href="https://twitter.com/benhvienaau" rel="nofollow" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a> 
				<a href="https://www.linkedin.com/company/bệnh-viện-thẩm-mỹ-á-âu" rel="nofollow" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
			</div>
			<div class="fmenu col-md-6 col-sm-6 col-xs-12"> 
				<a href="tu-van-tham-my/index.html"><i class="fa fa-headphones" aria-hidden="true"></i> Tư vấn</a>
			</div>
		</div>
	</div>
</div> 
</footer>
<!-- end footer -->

<!-- todo -->
<div class="phone visible-xs visible-sm">
    <div class="row">
        <div class="col-sm-6 col-xs-6 text-center"> <a class="btn btn-info" href="tel:0906827070" title="hotline"><i class="fa fa-phone" aria-hidden="true"></i> 0906.82.70.70</a></div>
        <div class="col-sm-6 col-xs-6 text-center"> <a class="btn btn-warning" href="tel:0902400269" title="hotline"><i class="fa fa-phone" aria-hidden="true"></i> 0902.400.269</a></div>
    </div>
</div>
<div class="modal fade" id="myModalPhone" tabindex="-1" role="dialog" aria-labelledby="myModalLabelPhone">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabelPhone">Điện Thoại Tư Vấn</h4></div>
            <div class="modal-body ptel"> <a class="btn btn-success" href="tel:0906827070">HCM: 0906.82.70.70</a> <a class="btn btn-success" href="tel:0902400269">HCM: 0902.400.269</a> <a class="btn btn-warning" href="tel:0905659169">Hà Nội: 0905.659.169</a></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>