<!-- views/partials/header.ejs -->
<!-- Header -->
<div class="container">
	<div class="row">
		<div id="logo" class="col-md-2 col-sm-2 col-xs-12 logo text-center">
			<a href="index.html">
				<img src="/images/header/logofull.jpg" alt="bệnh viện thẩm mỹ á âu">
			</a>
		</div>
		<div class="col-md-10 col-sm-10 col-xs-12 site-title">
			<div class="row">
				<div class="col-md-7 col-sm-6 hidden-xs slogal text-center"> 
					<a href="index.html">
						<img src="" alt="todo slogan">
					</a>
				</div>
				<div class="col-md-5 col-sm-6 col-xs-12 top-bar text-center">
					<div class="hotline"> 
						<img src="/images/header/hotline.png" alt="holine">
					</div>
					<div class="top-menu">
						<ul id="menu-top-menu" class="menu">
							<li id="menu-item-747" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-747">
								<a href="gioi-thieu/index.html">Giới Thiệu</a>
							</li>
							<li id="menu-item-21331" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-21331">
								<a href="khach-hang/index.html">Khách hàng</a>
							</li>
							<li id="menu-item-2609" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2609">
								<a href="su-kien/index.html">Sự kiện</a>
							</li>
							<li id="menu-item-30789" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30789">
								<a href="tag/bang-gia-dich-vu/index.html">Bảng giá</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>