<!-- views/partials/header.ejs -->
<!-- Header -->
<div class="container">
	<div class="row">
		<div id="logo" class="col-md-2 col-sm-2 col-xs-12 logo text-center">
			<a href="index">
				<img src="/images/header/new1.png" alt="logo" class="logo-1">
			</a>
		</div>
		<div class="col-md-10 col-sm-10 col-xs-12 site-title">
			<div class="row">
				<div class="col-md-7 col-sm-6 hidden-xs slogal text-center"> 
					<div class="butterfly"></div>
					<h1 class="slogan-1">Đẹp mãi với thời gian</h1>	
				</div>
				<div class="col-md-5 col-sm-6 col-xs-12 top-bar text-center">
					<div class="hotline"> 
						<img src="/images/header/hotline.png" alt="holine">
					</div>
					<div class="top-menu">
						<ul id="menu-top-menu" class="menu">
							<li id="menu-item-747" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-747">
								<a href="">Giới Thiệu</a>
							</li>
							<li id="menu-item-30789" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30789">
								<a href="">Bảng giá</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
