<!-- views/partials/navigation.ejs -->
<!-- Navigation -->
<div class="menu-cont hidden-xs" id="mainmenu">
	<div class="container">
		<div class="header-menu">
			<ul id="menu-header-menu" class="menu">
				<li id="menu-item-839" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-839">
					<a href="index"><img src="/images/home.png" alt="home"></a>
				</li>
				<li id="menu-item-840" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-840">
					<a href="tao-hinh-tham-my/hut-mo/index">Skin care điều trị</a>
				</li>
				<li id="menu-item-18847" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-18847">
					<a href="cang-da-mat-bang-chi-vang-24k.html">Hồi sinh da Nhật Bản</a></li>
				<li id="menu-item-842" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-842">
					<a href="tre-hoa-am-dao/index">Cấy Huyết thanh tế bào</a>
				</li>
				<li id="menu-item-2063" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2063">
					<a href="cac-cong-nghe-tao-hinh-mat-han-quoc-hot-nhat.html">Truyền dưỡng colagen</a></li>
				<li id="menu-item-17703" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17703"><a href="dich-vu-nang-mui-dep-tu-nhien-toan-hieu-qua.html">Spa</a></li>
				<li id="menu-item-40165" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-40165">
					<a href="#">Triệt lông</a>
				</li>
				<li id="menu-item-17702" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17702"><a href="phuong-phap-nang-nguc-don-mong-toan-hieu-qua-nhat.html">Thay da</a></li><li id="menu-item-846" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-846"><a href="dieu-tri-da-va-laser/index">DV nâng cao</a><ul class="sub-menu"><li id="menu-item-39764" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-39764"><a target="_blank" href="https://nhakhoaquocteaau.com/">Nha khoa quốc tế Á Âu</a></li></ul></li><li id="menu-item-21240" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-21240"><a href="tag/cay-mo/index">Tin Tức</a></li><li id="menu-item-21332" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-21332"><a href="/lien-he">Liên Hệ</a></li>
			</ul>
		</div>
	</div>
</div>
<!-- moblie nav -->
<div class="visible-xs mobile-menu">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="navbar-brand" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">DANH MỤC DỊCH VỤ <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul id="menu-header-menu-1" class="menu">
                <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-839"><a href="index"><img src="/images/home.png" alt="home"></a></li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-840"><a href="tao-hinh-tham-my/hut-mo/index">Hút mỡ</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-855"><a href="hut-mo-bang-pharaon-lipo.html">Hút mỡ bằng Pharaon Lipo</a></li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-18847"><a href="cang-da-mat-bang-chi-vang-24k.html">Chỉ vàng</a></li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-842"><a href="tre-hoa-am-dao/index">Âm đạo &#038; Nhũ Hoa</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-18360"><a href="thu-hep-se-khit-am-dao.html">Trẻ hóa âm đạo bằng  Laser và chỉ</a></li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2063"><a href="cac-cong-nghe-tao-hinh-mat-han-quoc-hot-nhat.html">Mắt</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17703"><a href="dich-vu-nang-mui-dep-tu-nhien-toan-hieu-qua.html">Mũi</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-40165"><a href="#">Răng &#038; Hàm</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-39764"><a target="_blank" href="https://nhakhoaquocteaau.com/">Nha khoa quốc tế Á Âu</a></li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17702"><a href="phuong-phap-nang-nguc-don-mong-toan-hieu-qua-nhat.html">Ngực &#038; Mông</a></li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-846"><a href="dieu-tri-da-va-laser/index">Điều trị da</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-21240"><a href="tag/cay-mo/index">Cấy Mỡ</a></li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-8160"><a href="phun-xam/index">Phun Xăm</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8250"><a href="phun-xam-mi-mat.html">Phun xăm mí mắt</a></li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-29794"><a href="lam-dep-hot/index">Làm Đẹp Hot</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-38832"><a target="_blank" href="http://idetox.vn/">Detox2</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-35535"><a target="_blank" href="http://cellcenter.vn/">CN Tế Bào</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21332"><a href="lien-he/index">Liên Hệ</a></li>
            </ul>
        </div>
    </nav>
</div>
<script type="text/javascript">$(window).load(function(){$("#mobile-menu").sticky({topSpacing:0});});</script>
