<div class=" col-md-4 sidebar">
    <div id="nrpsctm_widget-4" class="sidebar-item">
        <h4 class="widget-title">Người nổi tiếng tại Á Âu<span class="bg"></span></h4>
        <div class="row nrpsctm-block">
            <ul class="nrpsctm-ul">
                <li class="nrpsctm-clearfix">
                    <div class="recent_posts_left"> <a href="https://benhvienaau.vn/mai-phuong-thuy-chon-giai-phap-lam-dep-toan.html" title="Permalink to Mai Phương Thúy chọn giải pháp làm đẹp an toàn" rel="bookmark"> <img width="90" height="90" src="./Phương pháp nâng ngực độn mông an toàn, hiệu quả nhất - BVTM Á Âu_files/mai-phuong-thuy-150x150.jpg" class="nrpsctm-alignleft nrpsctm-thumb the-post-thumbnail wp-post-image" alt="Mai Phương Thúy chọn giải pháp làm đẹp an toàn" title="Mai Phương Thúy chọn giải pháp làm đẹp an toàn" srcset="https://benhvienaau.vn/wp-content/uploads/2017/05/mai-phuong-thuy-150x150.jpg 150w, https://benhvienaau.vn/wp-content/uploads/2017/05/mai-phuong-thuy-250x250.jpg 250w" sizes="(max-width: 90px) 100vw, 90px">                   </a></div>
                    <div class="recent_posts_right">
                        <h3 class="nrpsctm-title"> <a href="https://benhvienaau.vn/mai-phuong-thuy-chon-giai-phap-lam-dep-toan.html" title="Permalink to Mai Phương Thúy chọn giải pháp làm đẹp an toàn" rel="bookmark">Mai Phương Thúy chọn giải pháp làm đẹp an toàn</a></h3>
                        <time class="nrpsctm-time published" datetime="2017-05-19T15:16:22+00:00">19/05/2017</time>
                    </div>
                </li>
                <li class="nrpsctm-clearfix">
                    <div class="recent_posts_left"> <a href="https://benhvienaau.vn/ve-dep-khong-ty-vet-cua-phuong-linh-ung-vien-hoa-hau-quoc-te-2016.html" title="Permalink to Vẻ đẹp ‘không tỳ vết’ của Phương Linh – ứng viên Hoa hậu Quốc tế 2016" rel="bookmark"> <img width="90" height="90" src="./Phương pháp nâng ngực độn mông an toàn, hiệu quả nhất - BVTM Á Âu_files/phuong-lnih-150x150.jpg" class="nrpsctm-alignleft nrpsctm-thumb the-post-thumbnail wp-post-image" alt="Vẻ đẹp ‘không tỳ vết’ của Phương Linh – ứng viên Hoa hậu Quốc tế 2016" title="Vẻ đẹp ‘không tỳ vết’ của Phương Linh – ứng viên Hoa hậu Quốc tế 2016" srcset="https://benhvienaau.vn/wp-content/uploads/2016/09/phuong-lnih-150x150.jpg 150w, https://benhvienaau.vn/wp-content/uploads/2016/09/phuong-lnih-250x250.jpg 250w" sizes="(max-width: 90px) 100vw, 90px">                    </a></div>
                    <div class="recent_posts_right">
                        <h3 class="nrpsctm-title"> <a href="https://benhvienaau.vn/ve-dep-khong-ty-vet-cua-phuong-linh-ung-vien-hoa-hau-quoc-te-2016.html" title="Permalink to Vẻ đẹp ‘không tỳ vết’ của Phương Linh – ứng viên Hoa hậu Quốc tế 2016" rel="bookmark">Vẻ đẹp ‘không tỳ vết’ của Phương Linh – ứng viên Hoa hậu Quốc tế 2016</a></h3>
                        <time class="nrpsctm-time published" datetime="2016-09-21T15:29:22+00:00">21/09/2016</time>
                    </div>
                </li>
                <li class="nrpsctm-clearfix">
                    <div class="recent_posts_left"> <a href="https://benhvienaau.vn/hoa-hau-mai-phuong-thuy-chon-bvtm-au-la-noi-lam-dep-dang-tin-cay.html" title="Permalink to Hoa hậu Mai Phương Thúy chọn BVTM Á Âu là nơi làm đẹp đáng tin cậy" rel="bookmark"> <img width="90" height="90" src="./Phương pháp nâng ngực độn mông an toàn, hiệu quả nhất - BVTM Á Âu_files/mai-phuong-thuy-150x150(1).jpg" class="nrpsctm-alignleft nrpsctm-thumb the-post-thumbnail wp-post-image" alt="Hoa hậu Mai Phương Thúy chọn BVTM Á Âu là nơi làm đẹp đáng tin cậy" title="Hoa hậu Mai Phương Thúy chọn BVTM Á Âu là nơi làm đẹp đáng tin cậy" srcset="https://benhvienaau.vn/wp-content/uploads/2016/08/mai-phuong-thuy-150x150.jpg 150w, https://benhvienaau.vn/wp-content/uploads/2016/08/mai-phuong-thuy-250x250.jpg 250w" sizes="(max-width: 90px) 100vw, 90px">                   </a></div>
                    <div class="recent_posts_right">
                        <h3 class="nrpsctm-title"> <a href="https://benhvienaau.vn/hoa-hau-mai-phuong-thuy-chon-bvtm-au-la-noi-lam-dep-dang-tin-cay.html" title="Permalink to Hoa hậu Mai Phương Thúy chọn BVTM Á Âu là nơi làm đẹp đáng tin cậy" rel="bookmark">Hoa hậu Mai Phương Thúy chọn BVTM Á Âu là nơi làm đẹp đáng tin cậy</a></h3>
                        <time class="nrpsctm-time published" datetime="2016-08-20T10:22:25+00:00">20/08/2016</time>
                    </div>
                </li>
                <li class="nrpsctm-clearfix">
                    <div class="recent_posts_left"> <a href="https://benhvienaau.vn/hoa-hau-ngoc-han-rang-ro-sac-voi-khoi-ao-dai-phuong-linh.html" title="Permalink to Hoa hậu Ngọc Hân rạng rỡ đọ sắc với Á khôi áo dài Phương Linh" rel="bookmark"> <img width="90" height="90" src="./Phương pháp nâng ngực độn mông an toàn, hiệu quả nhất - BVTM Á Âu_files/hoa-hau-ngoc-han-150x150.jpg" class="nrpsctm-alignleft nrpsctm-thumb the-post-thumbnail wp-post-image" alt="Hoa hậu Ngọc Hân rạng rỡ đọ sắc với Á khôi áo dài Phương Linh" title="Hoa hậu Ngọc Hân rạng rỡ đọ sắc với Á khôi áo dài Phương Linh" srcset="https://benhvienaau.vn/wp-content/uploads/2016/08/hoa-hau-ngoc-han-150x150.jpg 150w, https://benhvienaau.vn/wp-content/uploads/2016/08/hoa-hau-ngoc-han-250x250.jpg 250w" sizes="(max-width: 90px) 100vw, 90px">                    </a></div>
                    <div class="recent_posts_right">
                        <h3 class="nrpsctm-title"> <a href="https://benhvienaau.vn/hoa-hau-ngoc-han-rang-ro-sac-voi-khoi-ao-dai-phuong-linh.html" title="Permalink to Hoa hậu Ngọc Hân rạng rỡ đọ sắc với Á khôi áo dài Phương Linh" rel="bookmark">Hoa hậu Ngọc Hân rạng rỡ đọ sắc với Á khôi áo dài Phương Linh</a></h3>
                        <time class="nrpsctm-time published" datetime="2016-08-12T16:34:01+00:00">12/08/2016</time>
                    </div>
                </li>
                <li class="nrpsctm-clearfix">
                    <div class="recent_posts_left"> <a href="https://benhvienaau.vn/bat-mi-noi-lam-dep-cua-ung-vien-hoa-hau-quoc-te.html" title="Permalink to Bật mí nơi làm đẹp của ứng viên hoa hậu quốc tế" rel="bookmark"> <img width="90" height="90" src="./Phương pháp nâng ngực độn mông an toàn, hiệu quả nhất - BVTM Á Âu_files/a-khoi-ao-dai-phuong-linh-150x150.jpg" class="nrpsctm-alignleft nrpsctm-thumb the-post-thumbnail wp-post-image" alt="Bật mí nơi làm đẹp của ứng viên hoa hậu quốc tế" title="Bật mí nơi làm đẹp của ứng viên hoa hậu quốc tế" srcset="https://benhvienaau.vn/wp-content/uploads/2016/08/a-khoi-ao-dai-phuong-linh-150x150.jpg 150w, https://benhvienaau.vn/wp-content/uploads/2016/08/a-khoi-ao-dai-phuong-linh-250x250.jpg 250w" sizes="(max-width: 90px) 100vw, 90px">                    </a></div>
                    <div class="recent_posts_right">
                        <h3 class="nrpsctm-title"> <a href="https://benhvienaau.vn/bat-mi-noi-lam-dep-cua-ung-vien-hoa-hau-quoc-te.html" title="Permalink to Bật mí nơi làm đẹp của ứng viên hoa hậu quốc tế" rel="bookmark">Bật mí nơi làm đẹp của ứng viên hoa hậu quốc tế</a></h3>
                        <time class="nrpsctm-time published" datetime="2016-07-14T15:34:36+00:00">14/07/2016</time>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div id="text-3" class="sidebar-item">
        <h4 class="widget-title">Kết quả điều trị<span class="bg"></span></h4>
        <div class="textwidget">
            <div id="rev_slider_2_2_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="margin: 0px auto; background-color: transparent; padding: 0px; height: 275px; overflow: visible;">
                <div id="rev_slider_2_2" class="rev_slider fullwidthabanner revslider-initialised tp-simpleresponsive" style="margin-top: 0px; margin-bottom: 0px; height: 275px;" data-version="5.3.1.5" data-slideactive="rs-13">
                    <ul class="tp-revslider-mainul" style="visibility: visible; display: block; overflow: hidden; width: 360px; height: 100%; max-height: none; left: 0px;">
                        <li data-index="rs-8" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-link="https://benhvienaau.vn/khach-hang/" data-target="_blank" data-thumb="https://benhvienaau.vn/wp-content/uploads/2016/08/before-after-bvaau-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="" class="tp-revslider-slidesli" style="width: 100%; height: 100%; overflow: hidden; z-index: 18; visibility: hidden; opacity: 0; background-color: rgba(255, 255, 255, 0);">
                            <div class="slotholder" style="position: absolute; top: 0px; left: 0px; z-index: 0; width: 100%; height: 100%; visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                                <!--Runtime Modification - Img tag is Still Available for SEO Goals in Source - <img src="https://benhvienaau.vn/wp-content/uploads/2016/08/before-after-bvaau.jpg" alt="" title="before-after-bvaau" width="400" height="305" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg defaultimg" data-no-retina="">-->
                                <div class="tp-bgimg defaultimg " style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;https://benhvienaau.vn/wp-content/uploads/2016/08/before-after-bvaau.jpg&quot;); background-size: cover; background-position: center center; width: 100%; height: 100%; opacity: 1; visibility: inherit; z-index: 20;" src="https://benhvienaau.vn/wp-content/uploads/2016/08/before-after-bvaau.jpg"></div>
                            </div>
                            <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: hidden; width: 100% !important; height: 100% !important; left: 0px; top: 0px; z-index: 60;">
                                <div class="tp-loop-wrap" style="width:100% !important;height:100% !important;position:absolute;display:block;;">
                                    <div class="tp-mask-wrap" style="position: absolute; display: block; width: 100% !important; height: 100% !important; overflow: visible;">
                                        <div class="tp-caption slidelink" style="cursor: pointer; width: 100%; height: 100%; z-index: 60; visibility: inherit; transition: none; text-align: inherit; line-height: 24px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 14px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;" data-x="center" data-y="center" data-basealign="slide" data-start="0" id="layer-232399530"><a style="width:100%;height:100%;display:block" target="_blank" href="https://benhvienaau.vn/khach-hang/"><span style="width:100%;height:100%;display:block"></span></a></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li data-index="rs-9" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-link="https://benhvienaau.vn/khach-hang/" data-target="_blank" data-thumb="https://benhvienaau.vn/wp-content/uploads/2016/08/before-after-bvaau-2-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="" class="tp-revslider-slidesli" style="width: 100%; height: 100%; overflow: hidden; z-index: 18; visibility: hidden; opacity: 0; background-color: rgba(255, 255, 255, 0);">
                            <div class="slotholder" style="position: absolute; top: 0px; left: 0px; z-index: 0; width: 100%; height: 100%; visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                                <!--Runtime Modification - Img tag is Still Available for SEO Goals in Source - <img src="https://benhvienaau.vn/wp-content/uploads/2016/08/before-after-bvaau-2.jpg" alt="" title="before-after-bvaau-2" width="400" height="305" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg defaultimg" data-no-retina="">-->
                                <div class="tp-bgimg defaultimg " style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;https://benhvienaau.vn/wp-content/uploads/2016/08/before-after-bvaau-2.jpg&quot;); background-size: cover; background-position: center center; width: 100%; height: 100%; opacity: 1; visibility: inherit; z-index: 20;" src="https://benhvienaau.vn/wp-content/uploads/2016/08/before-after-bvaau-2.jpg"></div>
                            </div>
                            <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: hidden; width: 100% !important; height: 100% !important; left: 0px; top: 0px; z-index: 60;">
                                <div class="tp-loop-wrap" style="width:100% !important;height:100% !important;position:absolute;display:block;;">
                                    <div class="tp-mask-wrap" style="position: absolute; display: block; width: 100% !important; height: 100% !important; overflow: visible;">
                                        <div class="tp-caption slidelink" style="cursor: pointer; width: 100%; height: 100%; z-index: 60; visibility: inherit; transition: none; text-align: inherit; line-height: 24px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 14px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;" data-x="center" data-y="center" data-basealign="slide" data-start="0" id="layer-13155315"><a style="width:100%;height:100%;display:block" target="_blank" href="https://benhvienaau.vn/khach-hang/"><span style="width:100%;height:100%;display:block"></span></a></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li data-index="rs-10" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-link="https://benhvienaau.vn/khach-hang/" data-target="_blank" data-thumb="https://benhvienaau.vn/wp-content/uploads/2016/08/before-after-bvaau-3-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="" class="tp-revslider-slidesli" style="width: 100%; height: 100%; overflow: hidden; z-index: 18; visibility: hidden; opacity: 0; background-color: rgba(255, 255, 255, 0);">
                            <div class="slotholder" style="position: absolute; top: 0px; left: 0px; z-index: 0; width: 100%; height: 100%; visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                                <!--Runtime Modification - Img tag is Still Available for SEO Goals in Source - <img src="https://benhvienaau.vn/wp-content/uploads/2016/08/before-after-bvaau-3.jpg" alt="" title="before-after-bvaau-3" width="400" height="305" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg defaultimg" data-no-retina="">-->
                                <div class="tp-bgimg defaultimg " style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;https://benhvienaau.vn/wp-content/uploads/2016/08/before-after-bvaau-3.jpg&quot;); background-size: cover; background-position: center center; width: 100%; height: 100%; opacity: 1; visibility: inherit; z-index: 20;" src="https://benhvienaau.vn/wp-content/uploads/2016/08/before-after-bvaau-3.jpg"></div>
                            </div>
                            <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: hidden; width: 100% !important; height: 100% !important; left: 0px; top: 0px; z-index: 60;">
                                <div class="tp-loop-wrap" style="width:100% !important;height:100% !important;position:absolute;display:block;;">
                                    <div class="tp-mask-wrap" style="position: absolute; display: block; width: 100% !important; height: 100% !important; overflow: visible;">
                                        <div class="tp-caption slidelink" style="cursor: pointer; width: 100%; height: 100%; z-index: 60; visibility: inherit; transition: none; text-align: inherit; line-height: 24px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 14px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;" data-x="center" data-y="center" data-basealign="slide" data-start="0" id="layer-655857218"><a style="width:100%;height:100%;display:block" target="_blank" href="https://benhvienaau.vn/khach-hang/"><span style="width:100%;height:100%;display:block"></span></a></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li data-index="rs-11" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-link="https://benhvienaau.vn/khach-hang/" data-target="_blank" data-thumb="https://benhvienaau.vn/wp-content/uploads/2016/08/before-after-bvaau-4-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="" class="tp-revslider-slidesli" style="width: 100%; height: 100%; overflow: hidden; z-index: 18; visibility: hidden; opacity: 0; background-color: rgba(255, 255, 255, 0);">
                            <div class="slotholder" style="position: absolute; top: 0px; left: 0px; z-index: 0; width: 100%; height: 100%; visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                                <!--Runtime Modification - Img tag is Still Available for SEO Goals in Source - <img src="https://benhvienaau.vn/wp-content/uploads/2016/08/before-after-bvaau-4.jpg" alt="" title="before-after-bvaau-4" width="400" height="305" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg defaultimg" data-no-retina="">-->
                                <div class="tp-bgimg defaultimg " style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;https://benhvienaau.vn/wp-content/uploads/2016/08/before-after-bvaau-4.jpg&quot;); background-size: cover; background-position: center center; width: 100%; height: 100%; opacity: 1; visibility: inherit; z-index: 20;" src="https://benhvienaau.vn/wp-content/uploads/2016/08/before-after-bvaau-4.jpg"></div>
                            </div>
                            <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: hidden; width: 100% !important; height: 100% !important; left: 0px; top: 0px; z-index: 60;">
                                <div class="tp-loop-wrap" style="width:100% !important;height:100% !important;position:absolute;display:block;;">
                                    <div class="tp-mask-wrap" style="position: absolute; display: block; width: 100% !important; height: 100% !important; overflow: visible;">
                                        <div class="tp-caption slidelink" style="cursor: pointer; width: 100%; height: 100%; z-index: 60; visibility: inherit; transition: none; text-align: inherit; line-height: 24px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 14px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;" data-x="center" data-y="center" data-basealign="slide" data-start="0" id="layer-219198411"><a style="width:100%;height:100%;display:block" target="_blank" href="https://benhvienaau.vn/khach-hang/"><span style="width:100%;height:100%;display:block"></span></a></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li data-index="rs-12" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-link="https://benhvienaau.vn/khach-hang/" data-target="_blank" data-thumb="https://benhvienaau.vn/wp-content/uploads/2016/08/before-after-bvaau-5-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="" class="tp-revslider-slidesli" style="width: 100%; height: 100%; overflow: hidden; z-index: 18; visibility: hidden; opacity: 0; background-color: rgba(255, 255, 255, 0);">
                            <div class="slotholder" style="position: absolute; top: 0px; left: 0px; z-index: 0; width: 100%; height: 100%; visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                                <!--Runtime Modification - Img tag is Still Available for SEO Goals in Source - <img src="https://benhvienaau.vn/wp-content/uploads/2016/08/before-after-bvaau-5.jpg" alt="" title="before-after-bvaau-5" width="400" height="305" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg defaultimg" data-no-retina="">-->
                                <div class="tp-bgimg defaultimg " style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;https://benhvienaau.vn/wp-content/uploads/2016/08/before-after-bvaau-5.jpg&quot;); background-size: cover; background-position: center center; width: 100%; height: 100%; opacity: 1; visibility: inherit; z-index: 20;" src="https://benhvienaau.vn/wp-content/uploads/2016/08/before-after-bvaau-5.jpg"></div>
                            </div>
                            <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: hidden; width: 100% !important; height: 100% !important; left: 0px; top: 0px; z-index: 60;">
                                <div class="tp-loop-wrap" style="width:100% !important;height:100% !important;position:absolute;display:block;;">
                                    <div class="tp-mask-wrap" style="position: absolute; display: block; width: 100% !important; height: 100% !important; overflow: visible;">
                                        <div class="tp-caption slidelink" style="cursor: pointer; width: 100%; height: 100%; z-index: 60; visibility: inherit; transition: none; text-align: inherit; line-height: 24px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 14px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;" data-x="center" data-y="center" data-basealign="slide" data-start="0" id="layer-61221775"><a style="width:100%;height:100%;display:block" target="_blank" href="https://benhvienaau.vn/khach-hang/"><span style="width:100%;height:100%;display:block"></span></a></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li data-index="rs-13" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-link="https://benhvienaau.vn/khach-hang/" data-target="_blank" data-thumb="https://benhvienaau.vn/wp-content/uploads/2016/08/before-after-bvaau-6-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="" class="tp-revslider-slidesli active-revslide" style="width: 100%; height: 100%; overflow: hidden; z-index: 20; visibility: inherit; opacity: 1; background-color: rgba(255, 255, 255, 0);">
                            <div class="slotholder" style="position: absolute; top: 0px; left: 0px; z-index: 0; width: 100%; height: 100%; visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                                <!--Runtime Modification - Img tag is Still Available for SEO Goals in Source - <img src="https://benhvienaau.vn/wp-content/uploads/2016/08/before-after-bvaau-6.jpg" alt="" title="before-after-bvaau-6" width="400" height="305" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg defaultimg" data-no-retina="">-->
                                <div class="tp-bgimg defaultimg " style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;https://benhvienaau.vn/wp-content/uploads/2016/08/before-after-bvaau-6.jpg&quot;); background-size: cover; background-position: center center; width: 100%; height: 100%; opacity: 1; visibility: inherit; z-index: 20;" src="https://benhvienaau.vn/wp-content/uploads/2016/08/before-after-bvaau-6.jpg"></div>
                            </div>
                            <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: visible; width: 100% !important; height: 100% !important; left: 0px; top: 0px; z-index: 60;">
                                <div class="tp-loop-wrap" style="width:100% !important;height:100% !important;position:absolute;display:block;;">
                                    <div class="tp-mask-wrap" style="position: absolute; display: block; width: 100% !important; height: 100% !important; overflow: visible;">
                                        <div class="tp-caption slidelink" style="cursor: pointer; width: 100%; height: 100%; z-index: 60; visibility: inherit; transition: none; text-align: inherit; line-height: 24px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 14px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;" data-x="center" data-y="center" data-basealign="slide" data-start="0" id="layer-329464850"><a style="width:100%;height:100%;display:block" target="_blank" href="https://benhvienaau.vn/khach-hang/"><span style="width:100%;height:100%;display:block"></span></a></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <script>
                    /*<![CDATA[*/
                    var htmlDiv = document.getElementById("rs-plugin-settings-inline-css");
                    var htmlDivCss = "";
                    if (htmlDiv) { htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss; } else { var htmlDiv = document.createElement("div");
                        htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
                        document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]); } /*]]>*/
                    </script>
                    <div class="tp-bannertimer tp-bottom" style="visibility: hidden; width: 47.6111%; transform: translate3d(0px, 0px, 0px);"></div>
                    <div class="tp-loader spinner0" style="display: none;">
                        <div class="dot1"></div>
                        <div class="dot2"></div>
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                    <div class="tp-leftarrow tparrows persephone" style="top: 50%; transform: matrix(1, 0, 0, 1, 20, -20); left: 0px;"></div>
                    <div class="tp-rightarrow tparrows persephone" style="top: 50%; transform: matrix(1, 0, 0, 1, -60, -20); left: 100%;"></div>
                    <div class="tp-bullets hades horizontal nav-pos-hor-center nav-pos-ver-bottom nav-dir-horizontal" style="width: 103px; height: 13px; top: 100%; transform: matrix(1, 0, 0, 1, -51, -33); left: 50%;">
                        <div class="tp-bullet" style="left: 0px; top: 0px;"><span class="tp-bullet-image" style="background-image: url(&quot;https://benhvienaau.vn/wp-content/uploads/2016/08/before-after-bvaau-100x50.jpg&quot;);"></span></div>
                        <div class="tp-bullet" style="left: 18px; top: 0px;"><span class="tp-bullet-image" style="background-image: url(&quot;https://benhvienaau.vn/wp-content/uploads/2016/08/before-after-bvaau-2-100x50.jpg&quot;);"></span></div>
                        <div class="tp-bullet" style="left: 36px; top: 0px;"><span class="tp-bullet-image" style="background-image: url(&quot;https://benhvienaau.vn/wp-content/uploads/2016/08/before-after-bvaau-3-100x50.jpg&quot;);"></span></div>
                        <div class="tp-bullet" style="left: 54px; top: 0px;"><span class="tp-bullet-image" style="background-image: url(&quot;https://benhvienaau.vn/wp-content/uploads/2016/08/before-after-bvaau-4-100x50.jpg&quot;);"></span></div>
                        <div class="tp-bullet" style="left: 72px; top: 0px;"><span class="tp-bullet-image" style="background-image: url(&quot;https://benhvienaau.vn/wp-content/uploads/2016/08/before-after-bvaau-5-100x50.jpg&quot;);"></span></div>
                        <div class="tp-bullet selected" style="left: 90px; top: 0px;"><span class="tp-bullet-image" style="background-image: url(&quot;https://benhvienaau.vn/wp-content/uploads/2016/08/before-after-bvaau-6-100x50.jpg&quot;);"></span></div>
                    </div>
                </div>
                <script>
                /*<![CDATA[*/
                var htmlDiv = document.getElementById("rs-plugin-settings-inline-css");
                var htmlDivCss = "";
                if (htmlDiv) { htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss; } else { var htmlDiv = document.createElement("div");
                    htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
                    document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]); } /*]]>*/
                </script>
                <script type="text/javascript">
                /*<![CDATA[*/
                var setREVStartSize = function() { try { var e = new Object,
                            i = jQuery(window).width(),
                            t = 9999,
                            r = 0,
                            n = 0,
                            l = 0,
                            f = 0,
                            s = 0,
                            h = 0;
                        e.c = jQuery('#rev_slider_2_2');
                        e.gridwidth = [400];
                        e.gridheight = [305];
                        e.sliderLayout = "auto"; if (e.responsiveLevels && (jQuery.each(e.responsiveLevels, function(e, f) { f > i && (t = r = f, l = e), i > f && f > r && (r = f, n = e) }), t > r && (l = n)), f = e.gridheight[l] || e.gridheight[0] || e.gridheight, s = e.gridwidth[l] || e.gridwidth[0] || e.gridwidth, h = i / s, h = h > 1 ? 1 : h, f = Math.round(h * f), "fullscreen" == e.sliderLayout) { var u = (e.c.width(), jQuery(window).height()); if (void 0 != e.fullScreenOffsetContainer) { var c = e.fullScreenOffsetContainer.split(","); if (c) jQuery.each(c, function(e, i) { u = jQuery(i).length > 0 ? u - jQuery(i).outerHeight(!0) : u }), e.fullScreenOffset.split("%").length > 1 && void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 ? u -= jQuery(window).height() * parseInt(e.fullScreenOffset, 0) / 100 : void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 && (u -= parseInt(e.fullScreenOffset, 0)) } f = u } else void 0 != e.minHeight && f < e.minHeight && (f = e.minHeight);
                        e.c.closest(".rev_slider_wrapper").css({ height: f }) } catch (d) { console.log("Failure at Presize of Slider:" + d) } };
                setREVStartSize();
                var tpj = jQuery;
                var revapi2;
                tpj(document).ready(function() { if (tpj("#rev_slider_2_2").revolution == undefined) { revslider_showDoubleJqueryError("#rev_slider_2_2"); } else { revapi2 = tpj("#rev_slider_2_2").show().revolution({ sliderType: "standard", jsFileLocation: "//benhvienaau.vn/wp-content/plugins/revslider/public/assets/js/", sliderLayout: "auto", dottedOverlay: "none", delay: 9000, navigation: { keyboardNavigation: "off", keyboard_direction: "horizontal", mouseScrollNavigation: "off", mouseScrollReverse: "default", onHoverStop: "off", arrows: { style: "persephone", enable: true, hide_onmobile: false, hide_onleave: false, tmp: '', left: { h_align: "left", v_align: "center", h_offset: 20, v_offset: 0 }, right: { h_align: "right", v_align: "center", h_offset: 20, v_offset: 0 } }, bullets: { enable: true, hide_onmobile: false, style: "hades", hide_onleave: false, direction: "horizontal", h_align: "center", v_align: "bottom", h_offset: 0, v_offset: 20, space: 5, tmp: '<span class="tp-bullet-image"></span>' } }, visibilityLevels: [1240, 1024, 778, 480], gridwidth: 400, gridheight: 305, lazyType: "none", shadow: 0, spinner: "spinner0", stopLoop: "off", stopAfterLoops: -1, stopAtSlide: -1, shuffle: "off", autoHeight: "off", disableProgressBar: "on", hideThumbsOnMobile: "off", hideSliderAtLimit: 0, hideCaptionAtLimit: 0, hideAllCaptionAtLilmit: 0, debugMode: false, fallbacks: { simplifyAll: "off", nextSlideOnWindowFocus: "off", disableFocusListener: false, } }); } }); /*]]>*/
                </script>
                <script>
                /*<![CDATA[*/
                var htmlDivCss = unescape(".persephone.tparrows%20%7B%0A%09cursor%3Apointer%3B%0A%09background%3Argba%28201%2C201%2C201%2C0.75%29%3B%0A%09width%3A40px%3B%0A%09height%3A40px%3B%0A%09position%3Aabsolute%3B%0A%09display%3Ablock%3B%0A%09z-index%3A100%3B%0A%20%20%20%20border%3A1px%20solid%20rgba%28255%2C%20255%2C%20255%2C%201%29%3B%0A%7D%0A.persephone.tparrows%3Ahover%20%7B%0A%09background%3Argba%280%2C%200%2C%200%2C%201%29%3B%0A%7D%0A.persephone.tparrows%3Abefore%20%7B%0A%09font-family%3A%20%22revicons%22%3B%0A%09font-size%3A15px%3B%0A%09color%3A%20rgb%28255%2C%20255%2C%20255%29%3B%0A%09display%3Ablock%3B%0A%09line-height%3A%2040px%3B%0A%09text-align%3A%20center%3B%0A%7D%0A.persephone.tparrows.tp-leftarrow%3Abefore%20%7B%0A%09content%3A%20%22%5Ce824%22%3B%0A%7D%0A.persephone.tparrows.tp-rightarrow%3Abefore%20%7B%0A%09content%3A%20%22%5Ce825%0A%22%3B%0A%7D%0A%0A%0A.hades.tp-bullets%20%7B%0A%7D%0A.hades.tp-bullets%3Abefore%20%7B%0A%09content%3A%22%20%22%3B%0A%09position%3Aabsolute%3B%0A%09width%3A100%25%3B%0A%09height%3A100%25%3B%0A%09background%3Atransparent%3B%0A%09padding%3A10px%3B%0A%09margin-left%3A-10px%3Bmargin-top%3A-10px%3B%0A%09box-sizing%3Acontent-box%3B%0A%7D%0A.hades%20.tp-bullet%20%7B%0A%09width%3A3px%3B%0A%09height%3A3px%3B%0A%09position%3Aabsolute%3B%0A%09background%3Argba%28127%2C%20127%2C%20127%2C%201%29%3B%0A%09cursor%3A%20pointer%3B%0A%20%20%20%20border%3A5px%20solid%20rgba%28255%2C%20255%2C%20255%2C%201%29%3B%0A%09box-sizing%3Acontent-box%3B%0A%20%20%20%20box-shadow%3A0px%200px%203px%201px%20rgba%280%2C0%2C0%2C0.2%29%3B%0A%20%20%20%20-webkit-perspective%3A400%3B%0A%20%20%20%20perspective%3A400%3B%0A%20%20%20%20-webkit-transform%3Atranslatez%280.01px%29%3B%0A%20%20%20%20transform%3Atranslatez%280.01px%29%3B%0A%7D%0A.hades%20.tp-bullet%3Ahover%2C%0A.hades%20.tp-bullet.selected%20%7B%0A%09background%3Argba%2886%2C%2086%2C%2086%2C%201%29%3B%0A%20%20%20%20border-color%3Argba%28255%2C%20255%2C%20255%2C%201%29%3B%0A%7D%0A%0A.hades%20.tp-bullet-image%20%7B%0A%20%20position%3Aabsolute%3B%0A%20%20top%3A-80px%3B%20%0A%20%20left%3A0%3B%0A%20%20width%3A120px%3B%0A%20%20height%3A60px%3B%0A%20%20background-position%3Acenter%20center%3B%0A%20%20background-size%3Acover%3B%0A%20%20visibility%3Ahidden%3B%0A%20%20opacity%3A0%3B%0A%20%20transition%3Aall%200.3s%3B%0A%20%20-webkit-transform-style%3Aflat%3B%0A%20%20transform-style%3Aflat%3B%0A%20%20perspective%3A600%3B%0A%20%20-webkit-perspective%3A600%3B%0A%20%20transform%3A%20rotatex%28-90deg%29%20translatex%28-50%25%29%3B%0A%20%20-webkit-transform%3A%20rotatex%28-90deg%29%20translate%28-50%25%29%3B%0A%20%20box-shadow%3A0px%200px%203px%201px%20rgba%280%2C0%2C0%2C0.2%29%3B%0A%20%20transform-origin%3A50%25%20100%25%3B%0A%20%20-webkit-transform-origin%3A50%25%20100%25%3B%0A%20%20%0A%20%20%0A%7D%0A.hades%20.tp-bullet%3Ahover%20.tp-bullet-image%20%7B%0A%20%20display%3Ablock%3B%0A%20%20opacity%3A1%3B%0A%20%20transform%3A%20rotatex%280deg%29%20translatex%28-50%25%29%3B%0A%20%20-webkit-transform%3A%20rotatex%280deg%29%20translatex%28-50%25%29%3B%0A%20%20visibility%3Avisible%3B%0A%20%20%20%20%7D%0A.hades%20.tp-bullet-title%20%7B%0A%7D%0A%0A");
                var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
                if (htmlDiv) { htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss; } else { var htmlDiv = document.createElement('div');
                    htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
                    document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]); } /*]]>*/
                </script>
            </div>
            <div style="font-size: 14px;">* Hiệu quả có thể thay đổi tuỳ theo từng người.</div>
        </div>
    </div>
    <div id="nav_menu-27" class="sidebar-item">
        <h4 class="widget-title">Dịch vụ nâng ngực &amp; mông<span class="bg"></span></h4>
        <div class="menu-dich-vu-nang-nguc-mong-container">
            <ul id="menu-dich-vu-nang-nguc-mong" class="menu">
                <li id="menu-item-13334" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13334"><a href="https://benhvienaau.vn/nang-nguc-noi-soi.html">Nâng ngực nội soi</a></li>
                <li id="menu-item-13335" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13335"><a href="https://benhvienaau.vn/nang-nguc-bang-mo-tu-than.html">Nâng ngực bằng mỡ tự thân</a></li>
                <li id="menu-item-13336" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13336"><a href="https://benhvienaau.vn/nang-nguc-chay-xe-sau-sinh-bi-quyet-giu-lua-hon-nhan.html">Nâng ngực chảy xệ</a></li>
                <li id="menu-item-13337" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13337"><a href="https://benhvienaau.vn/keo-tut-num-vu.html">Kéo tụt núm vú</a></li>
                <li id="menu-item-13338" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13338"><a href="https://benhvienaau.vn/thu-gon-quang-vu.html">Thu gọn quầng vú</a></li>
                <li id="menu-item-13339" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13339"><a href="https://benhvienaau.vn/thu-nho-num-vu.html">Thu nhỏ núm vú</a></li>
                <li id="menu-item-13340" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13340"><a href="https://benhvienaau.vn/phau-thuat-sua-nguc-bi-hong.html">Sửa lại ngực bị hỏng</a></li>
                <li id="menu-item-13341" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13341"><a href="https://benhvienaau.vn/nang-mong-chay-xe.html">Nâng mông chảy xệ</a></li>
                <li id="menu-item-13342" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13342"><a href="https://benhvienaau.vn/nang-mong-noi-soi-bang-tui.html">Nâng mông nội soi</a></li>
                <li id="menu-item-13343" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13343"><a href="https://benhvienaau.vn/nang-mong-bang-mo-tu-than.html">Nâng mông bằng mỡ tự thân</a></li>
            </ul>
        </div>
    </div>
    <div id="nav_menu-28" class="sidebar-item">
        <h4 class="widget-title">Kiến thức nâng ngực &amp; mông<span class="bg"></span></h4>
        <div class="menu-kien-thuc-nang-nguc-mong-container">
            <ul id="menu-kien-thuc-nang-nguc-mong" class="menu">
                <li id="menu-item-13356" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13356"><a href="https://benhvienaau.vn/nang-nguc-noi-soi-qua-duong-nach.html">Nâng ngực qua đường nách</a></li>
                <li id="menu-item-13357" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13357"><a href="https://benhvienaau.vn/nang-nguc-noi-soi-qua-duong-ron.html">Nâng ngực qua đường rốn</a></li>
                <li id="menu-item-19647" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19647"><a href="https://benhvienaau.vn/nang-nguc-bang-tui-gel.html">Nâng ngực bằng túi gel</a></li>
                <li id="menu-item-13358" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13358"><a href="https://benhvienaau.vn/nang-nguc-noi-soi-qua-quang-vu-nep-lan-vu.html">Nâng ngực qua quầng vú</a></li>
                <li id="menu-item-13359" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13359"><a href="https://benhvienaau.vn/cach-cham-soc-sau-khi-nang-nguc.html">Cách chăm sóc sau khi nâng ngực</a></li>
                <li id="menu-item-13360" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13360"><a href="https://benhvienaau.vn/dia-chi-nang-nguc-an-toan-va-uy-tin-nhat-tai-tp-hcm.html">Địa chỉ nâng ngực an toàn</a></li>
                <li id="menu-item-13361" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13361"><a href="https://benhvienaau.vn/bac-si-nang-nguc-dep-va-an-toan-nhat-tai-tp-hcm.html">Bác sĩ nâng ngực đẹp</a></li>
                <li id="menu-item-13362" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13362"><a href="https://benhvienaau.vn/thu-gon-vu-phi-dai.html">Thu gọn vú phì đại</a></li>
            </ul>
        </div>
    </div>
</div>