<div class="col-md-4 sidebar">
    <div id="nav_menu-28" class="sidebar-item">
        <h4 class="widget-title">Dịch vụ nổi bật<span class="bg"></span></h4>
        <div class="menu-kien-thuc-nang-nguc-mong-container">
            <ul id="menu-kien-thuc-nang-nguc-mong" class="menu">
                <li id="menu-item-13356" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13356"><a href="/skin-care-dieu-tri">Skin care điều trị</a></li>
                <li id="menu-item-13357" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13357"><a href="/hoi-sinh-da-nhat-ban">Hồi sinh da Nhật Bản</a></li>
                <li id="menu-item-19647" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19647"><a href="">Cấy huyết thanh tế bào</a></li>
                <li id="menu-item-13358" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13358"><a href="">Truyền dưỡng colagen</a></li>
                <li id="menu-item-13359" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13359"><a href="/triet-long">Triệt lông</a></li>
                <li id="menu-item-13360" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13360"><a href="">Thay da vật lý</a></li>
                <li id="menu-item-13361" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13361"><a href="/spa">Dịch vụ Spa</a></li>
            </ul>
        </div>
    </div>
</div>