<% include ./partials/head %>
<header>
<% include ./partials/header %>
<% include ./partials/navigation %>
</header>
<!-- <div class="slider hidden-xs"> <img src="/images/header/single-slider.jpg" width="100%" alt="đội ngũ bác sĩ"></div> -->
<div id="aau-wrapper">
    <div class="single-bar">
        <div class="container">
            <div class="row">
                <div class="bar col-md-12">
                    <div class="bg">
                        <div class="row">
                            <div class="col-md-9 col-sm-8 col-xs-12">
                                <p id="breadcrumbs"><span xmlns:v="http://rdf.data-vocabulary.org/#"><span typeof="v:Breadcrumb"><a href="/home" rel="v:url" property="v:title">Trang Chủ</a> \ <span rel="v:child" typeof="v:Breadcrumb"><span rel="v:child" typeof="v:Breadcrumb"><a href="" rel="v:url" property="v:title">10 cách trị quầng thâm mắt bằng nguyên liệu tự nhiên</a></span></span>
                                    </span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8 content">
                    <div class="post">
                        <div class="title">
                            <h1>
                                <i class="fa fa-file-text-o"></i> 10 cách trị quầng thâm mắt bằng nguyên liệu tự nhiên
                            </h1>
                        </div>

                        <p>
                            <p><img class="aligncenter wp-image-20197" src="/images/homeslider/5.jpg" width="500" height="340"></p>
                        </p>
                        <p style="font-weight: bold;">Thay vì sử dụng mỹ phẩm đắt tiền, nhiều hóa chất, bạn có thể loại bỏ quầng thâm bằng những nguyên liệu tự nhiên, an toàn.</p>
                        <p>Nhiều nguyên nhân dẫn đến quầng thâm mắt như stress, thiếu ngủ, thay đổi hormone, sinh hoạt không điều độ, di truyền,... Nếu không điều trị kịp thời, quầng thâm không chỉ khiến bạn trông xấu xí, mệt mỏi mà còn thực sự gây ra những vấn đề sức khỏe nghiêm trọng.</p>

                        <p>Bạn có thể dễ dàng tìm mua các sản phẩm công nghiệp có khả năng hỗ trợ loại bỏ quầng thâm. Tuy nhiên, ngay trong nhà, rất nhiều thứ có nguồn gốc tự nhiên an toàn và rẻ hơn nhiều có thể giúp bạn thoát khỏi những vết quầng dễ dàng chỉ trong vài ngày.</p>

                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/news/3.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">10 cách trị quầng thâm tự nhiên. Ảnh: Fitness-trening</p>
                        </div>
                        <h2>1. Cà chua</h2>
                    <p>Không chỉ có tác dụng làm mờ quầng thâm, cà chua còn giúp làm mềm da. Pha một thìa nước ép cà chua với một thìa nước cốt chanh và bôi lên vùng mắt bị thâm. Để khoảng 10 phút rồi rửa mặt lại với nước. Lặp lại quy trình này ít nhất 2 lần mỗi ngày. Trong ngày, bạn cũng có thể uống nước ép cà chua pha với nước cốt chanh và lá bạc hà để có tác dụng nhanh.</p>

                    <h2>2. Khoai tây nạo</h2>
                    <p>Đứng đầu danh sách "làm thế nào để loại bỏ quầng thâm trong một tuần" chắc chắn phải là khoai tây.</p>

                    <p>Cách làm: Nạo và ép khoai tây lấy nước, lấy bông thấm nước khoai tây và đặt lên vùng mắt, đảm bảo bông phủ bao phủ kín phần mắt cũng như vùng thâm bên dưới mắt. Để trong 10 phút và rửa lại với nước.</p>

                    <h2>3. Túi trà lạnh</h2>
                    <p>Nhúng túi trà (nên chọn trà xanh hoặc trà hoa cúc chamomile) vào nước, sau đó làm lạnh túi trà bằng cách đặt trong tủ đá trong vài phút. Lấy ra và đặt chúng lên mắt.</p>

                    <h2>4. Dầu quả hạnh</h2> 
                    <p>Quả hạnh có rất nhiều vitamin E, vì vậy dầu quả hạnh có tác dụng làm mềm da. Bôi một ít dầu quả hạnh lên vùng mắt thâm và massage nhẹ nhàng. Để qua đêm và rửa lại vào sáng hôm sau.</p>

                    <h2>5. Sữa lạnh</h2>
                    <p>Đổ sữa lạnh ra bát, dùng bông thấm rồi đặt che kín vùng mắt và vùng thâm. Giữ nguyên trong vài phút rồi rửa lại với nước lạnh.</p>

                    <h2>6. Nước cam</h2>
                    <p>Pha nước cam cùng vài giọt glycerin và đặt lên vùng mắt thâm. Không chỉ khiến vết thâm đáng ghét bay mất, hỗn hợp nước cam glycerin còn có tác dụng làm sáng mắt tự nhiên.</p>

                    <h2>7. Dưa chuột</h2>
                    <p>Cắt dưa chuột thành từng khoanh tròn có độ dày vừa phải rồi đặt vào tủ lạnh khoảng 30 phút. Lấy ra và đặt lên vùng mắt thâm. Giữ trong 10 phút rồi rửa lại với nước.</p>

                    <h2>8. Lá bạc hà</h2>
                    <p>Lá bạc hà nổi tiếng bởi hương thơm dịu mát và đem lại cảm giác sảng khoái. Lá bạc hà cũng có thể sử dụng để loại bỏ quầng thâm.</p>

                    <p>Cách làm: Nghiền nát lá bạc hà cùng với nước để tạo thành hỗn hợp sệt sệt, sau đó đặt lên vùng mắt. Giữ trong 10 phút và rửa lại với nước. Làm mỗi tối trong vòng một tuần và bạn sẽ thấy kết quả đáng ngạc nhiên.</p>

                    <h2>. Nước hoa hồng</h2>
                    <p>Nhúng bông vào nước hoa hồng và đặt lên vùng bị thâm. Giữ trong vòng 15 phút và rửa lại với nước lạnh. Lặp lại mỗi tối trong vòng một tháng.</p>

                    <h2>10. Quả hạnh và sữa</h2>
                    <p>Ngâm vài hạt quả hạnh trong nước và để qua đêm. Xay nhuyễn quả hạnh cùng với một thìa sữa tươi, đắp hỗn hợp lên mắt và để trong 10 phút. Rửa lại với nước mát. Làm 3 lần một tuần để có kết quả như ý.</p>
                    </div>
                </div>
                <% include ./partials/sidebar %>
            </div>
        </div>
    </div>
</div>
<% include ./partials/footer %>
<% include ./partials/endhead %>