<% include ./partials/head %>
<header>
<% include ./partials/header %>
<% include ./partials/navigation %>
</header>
<!-- <div class="slider hidden-xs"> <img src="/images/header/single-slider.jpg" width="100%" alt="đội ngũ bác sĩ"></div> -->
<div id="aau-wrapper">
    <div class="single-bar">
        <div class="container">
            <div class="row">
                <div class="bar col-md-12">
                    <div class="bg">
                        <div class="row">
                            <div class="col-md-9 col-sm-8 col-xs-12">
                                <p id="breadcrumbs"><span xmlns:v="http://rdf.data-vocabulary.org/#"><span typeof="v:Breadcrumb"><a href="/home" rel="v:url" property="v:title">Trang Chủ</a> \ <span rel="v:child" typeof="v:Breadcrumb"><span rel="v:child" typeof="v:Breadcrumb"><a href="" rel="v:url" property="v:title">ALICE Nails &amp; Spa địa điểm làm đẹp lý tưởng mới của Sài Gòn</a></span></span>
                                    </span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8 content">
                    <div class="post">
                        <div class="title">
                            <h1>
                                <i class="fa fa-file-text-o"></i> ALICE Nails &amp; Spa địa điểm làm đẹp lý tưởng mới của Sài Gòn
                            </h1>
                        </div>

                        <p>
                            <p><img class="aligncenter wp-image-20197" src="/images/homeslider/5.jpg" width="500" height="340"></p>
                        </p>
                        <p style="font-weight: bold;">Diễn viên Hữu Tiến cùng con gái Thủy Tiên hạnh phúc chào đón sự ủng hộ và chúc mừng từ những người đồng nghiệp thân thiết trong nghề và các học trò trong ngày khai trương cơ sở kinh doanh mới – ALICE Nails &amp; Spa tại địa chỉ Hẻm TK26, số TK28/6 Nguyễn Cảnh Chân, P.Cầu Kho, Quận 1. Đây chắc chắn là địa điểm làm đẹp lý tưởng cho giới nghệ sĩ.</p>
                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/news/18.jpg" alt="" width="513" height="348">
                        </div>

                        <p>Diễn viên Hữu Tiến quen thuộc với khán giả truyền hình qua các phim như 'Giao thời', 'Cánh buồm ảo ảnh', 'Mưa'... Anh hiện vừa đóng phim vừa tham gia dàn dựng các vở kịch nói. Ngoài đời, Hữu Tiến khá lận đận. Sau đổ vỡ hôn nhân, anh thành 'gà trống nuôi con'. Con trai của nam nghệ sĩ đã trưởng thành, có gia đình riêng. Hữu Tiến hiện sống cùng cô con gái 22 tuổi có ngoại hình rất xinh tên là Thủy Tiên</p>

                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/news/19.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Nghệ sĩ Đàm Loan tới chúc mừng hai cha con Hữu Tiến</p>
                        </div>

                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/news/20.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Trịnh Kim Chi</p>
                        </div>

                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/news/21.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Vợ chồng Tiến Luật - Thu Trang</p>
                        </div>

                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/news/22.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Thu Trang tranh thủ làm móng tại ALICE Nails &amp; Spa</p>
                        </div>

                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/news/23.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">BB Trần</p>
                        </div>

                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/news/24.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Diễn viên Khương Ngọc</p>
                        </div>

                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/news/25.jpg" alt="" width="513" height="348">
                        </div>

                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/news/26.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Đạo diễn Ngọc Hùng trải nghiệm dịch vụ mới</p>
                        </div>

                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/news/27.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Diễn viên Ngọc Trinh đến chúc mừng Hữu Tiến người anh thân thiết với cô nhiều năm nay</p>
                        </div>

                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/news/28.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Ngọc Trinh tranh thủ massage phục hồi da sau những ngày ở phim trường miệt mài</p>
                        </div>

                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/news/29.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Hải Triều</p>
                        </div>

                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/news/30.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Diệu Nhi – Anh Tú</p>
                        </div>

                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/news/31.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Hotboy nổi loạn Trần Huy Anh</p>
                        </div>

                        <p>Chứng kiến sự có mặt đông đủ của đồng nghiệp đến chúc mừng hai cha con, Hữu Tiến rất xúc động. Anh cho biết, con gái Thủy Tiên có đam mê nghệ thuật từ nhỏ nhưng chưa từng muốn theo con đường nghệ thuật giống cha bởi cô bé cảm thấy nghệ thuật quá khổ cực. Mê kinh doanh, ngay từ khi còn ngồi ghế giảng đường năm nhất, Thủy Tiên đã xin phép cha mở quán Ốc để thực hiện đam mê.</p>

                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/news/32.jpg" alt="" width="513" height="348">
                        </div>

                        <p>“Thời điểm ấy, tôi biết con gái sẽ kinh doanh không bền lâu vì con còn quá nhỏ sẽ thiếu kinh nghiệm. Tuy nhiên, tôi phải để con tự vận động, nếm thất bại mới có đủ bài học và kinh nghiệm với cuộc đời. Vì thế, thay vì ủng hộ và để con gái dựa vào, tôi để con tự lập bằng việc mỗi ngày ngồi bên kia đường nhìn con gái làm việc. Ba tháng cố gắng, cuối cùng con cũng đã đóng cửa quán vì kham không nổi” – Hữu Tiến nhớ lại. <br>
                        Sau 3 năm chăm chỉ vừa học vừa làm ở một cơ sở làm đẹp nổi tiếng về thẩm mỹ, cô con gái xinh đẹp sinh năm 1995 Thủy Tiên đã lên chức bà chủ khi thấy đã đủ tay nghề và kinh nghiệm. Lần này thấy Thủy Tiên nghiêm túc, Hữu Tiến quyết định dành hết số tiền bao nhiêu năm miệt mài làm nghề với ý định mua nhà để cùng con gái mở Spa làm đẹp.</p>

                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/news/33.jpg" alt="" width="513" height="348">
                        </div>

                        <p>Hơn hai mươi năm cùng các con ở nhà thuê, Hữu Tiến ước được có căn nhà nhỏ cho gia đình. Cũng vì thế anh làm ngày làm đêm để tiết kiệm. Thế nhưng, vì cô con gái 22 tuổi muốn tạo dựng sự nghiệp, anh sẵn sàng nhường ước mơ ngôi nhà nhỏ để phụ con gái kinh doanh spa</p>

                        <p style="text-align: right; font-weight: bold;">Ảnh: Khểnh</p>

                    </div>
                </div>
                <% include ./partials/sidebar %>
            </div>
        </div>
    </div>
</div>
<% include ./partials/footer %>
<% include ./partials/endhead %>