<% include ./partials/head %>
<header>
<% include ./partials/header %>
<% include ./partials/navigation %>
</header>
<!-- <div class="slider hidden-xs"> <img src="/images/header/single-slider.jpg" width="100%" alt="đội ngũ bác sĩ"></div> -->
<div id="aau-wrapper">
    <div class="single-bar">
        <div class="container">
            <div class="row">
                <div class="bar col-md-12">
                    <div class="bg">
                        <div class="row">
                            <div class="col-md-9 col-sm-8 col-xs-12">
                                <p id="breadcrumbs"><span xmlns:v="http://rdf.data-vocabulary.org/#"><span typeof="v:Breadcrumb"><a href="/home" rel="v:url" property="v:title">Trang Chủ</a> \ <span rel="v:child" typeof="v:Breadcrumb"><span rel="v:child" typeof="v:Breadcrumb"><a href="" rel="v:url" property="v:title">Cây huyết thanh tế bào gốc</a></span></span>
                                    </span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8 content">
                    <div class="post">
                        <div class="title">
                            <h1>
                                <i class="fa fa-file-text-o"></i> CẤY HUYẾT THANH TẾ BÀO GỐC TẠI ALICE NAILS &amp; SPA
                            </h1>
                        </div>

                        <p>
                            <p><img class="aligncenter wp-image-20197" src="/images/homeslider/5.jpg" width="500" height="340"></p>
                        </p>
                        <p style="font-weight: bold;">Trẻ mãi với thời gian là ước mơ từ ngàn đời nay của mỗi người. Đó cũng chính là ước mơ vô cùng chính đáng của phái đẹp. Thế nhưng, theo thời gian các tế bào da chịu tác động của tuổi tác và các yếu tố bên ngoài, ngày qua ngày, làm giảm khả năng tái sinh. </p>
                        <p>Tuổi tác, công việc, môi trường ô nhiễm, áp lực công việc, dùng mỹ phẩm … theo thời vô hình lấy đi nét tươi trẻ của làn da của bạn, những nếp nhăn xuất hiện chúng ta mới nhận ra làn da đang dần bị lão hóa. Công nghệ trẻ hóa da bằng huyết thanh tế bào gốc (PRP) ra đời giúp chị em xóa tan nỗi lo da bị lão hóa, thực hiện hóa ước mơ kéo dài nét đẹp thanh xuân.</p>
                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/post/29.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Làn da xinh đẹp là ước mơ của bao chị em phụ nữ</p>
                        </div>

                        <p><span style="font-weight: bold;">Alice Nails &amp; Spa</span> là một trong những thương hiệu đi đầu trong việc trẻ hóa da bằng công nghệ huyết thanh tế bào gốc. Bằng kỹ thuật tiên tiến cùng đội ngũ chuyên viên da liễu có kinh nghiệm sẽ giúp các chị em thực hiện ước mơ trẻ hóa làn da của mình.</p>

                        <h2>TRẺ HÓA DA BẰNG HUYẾT THANH TẾ BÀO GỐC SỬ DỤNG CÔNG NGHỆ GÌ ?</h2>
                        <p>
                        PRP là cách gọi tắt của từ tiếng anh “Platalet Rich Plasma” có nghĩa là huyết tương giàu tiểu cầu. Thông thường ở trong máu hồng cầu chiếm khoảng 93%, tiểu cầu 6% và bạch cầu 1%. Với công nghệ PRP lượng tiểu cầu được nâng lên đến 94% và lượng hồng cầu giảm còn 5%. <br>
                        Phương pháp này được thực hiện bằng cách lấy màu tự thân sau đó đưa qua một quy trình chiết xuất bỏ đi hồng cầu , bạch cầu nhận được một lượng huyết tương giàu tiểu cầu – PRP. Lượng PRP này được đưa vào da cần điều trị giúp khôi phục và trẻ hóa các tế bào tổn thương kích thích sản sinh tế bào mới.
                        </p>
                        
                        <h2>ƯU ĐIỂM CỦA TRẺ HÓA DA BẰNG HUYẾT THANH TẾ BÀO GỐC</h2>
                        <p style="font-weight: bold;">1. An toàn tuyệt đối</p>
                        <p>Bác sĩ sử dụng chính tế bào tự thân của khách hàng nên không lo các vấn đề về lây nhiễm, dị ứng hoặc phản ứng đào thải.</p>
                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/post/30.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Tại Alice Nails &amp; Spa Bác sĩ sử dụng chính tế bào tự thân của khách hàng nên không lo các vấn đề về lây nhiễm</p>
                        </div>
                        <p style="font-weight: bold;">2. Làn da được trẻ hóa từ bên trong</p>
                        <p>Các yếu tố tăng trưởng trong tiểu cầu khi được tiêm vào da sẽ liên tục tạo tế bào mới, giúp da tự phục hồi, cải thiện đáng kể các vùng da bị nhăn, chùng nhão, sẹo rỗ... da trở nên mịn màng, căng mịn.</p>
                        <p style="font-weight: bold;">3. Không xâm lấn, không để lại sẹo.</p>
                        <p>Không ảnh hưởng đến sinh hoạt hàng ngày, không cần thời gian nghỉ dưỡng.</p>
                        <p style="font-weight: bold;">4. Hiệu quả lâu dài</p>
                        <p>Đi hết 1 liệu trình hiệu quả kéo dài đến 2 năm.</p>

                        <h2>TRẺ HÓA DA BẰNG HUYẾT THANH TẾ BÀO GỐC PHÙ HỢP VỚI AI ?</h2>
                        <ul>
                            <li>Khách hàng có độ tuổi từ 20 đã có thể sử dụng phương pháp này để ngăn ngừa quá trình lão hóa ngay từ khi chuẩn bị bắt đầu. Ở các độ tuổi lớn hơn khi xuất hiện các đâu hiệu lão hóa như nếp nhăn, da chùng nhão, kém tươi tắn...</li>
                            <li>Khách hàng đã điều trị bằng các phương pháp khác nhưng không hiệu quả.</li>
                        </ul>
                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/post/31.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Đội ngũ chuyên viên giàu kinh nghiệm sẽ giúp khách hàng có làn da như mong muốn</p>
                        </div>

                        <h2>QUY TRÌNH ĐIỀU TRỊ</h2>
                        <p style="font-weight: bold;">Bước 1: Các bác sĩ da liễu sẽ thăm khám và tư vấn</p>
                        <p>Các bác sĩ sẽ tư vấn đưa ra liệu trình phù hợp, chụp ảnh trước khi điều trị để có kết quả so sánh trước và sau khi điều trị.</p>
                        <p style="font-weight: bold;">Bước 2: Rửa sạch mặt</p>
                        <p>Các kỹ thuật viên sẽ tiến hành rửa mặt bằng sữa rửa mặt cho khách hàng.</p>
                        <p style="font-weight: bold;">Bước 3: Ủ tê</p>
                        <p>Bác sỹ sẽ ủ tê trong khoảng 20p để khách hàng cảm thấy thoải mái trong quá trình điều trị.</p>
                        <p style="font-weight: bold;">Bước 4: Sát Trùng</p>
                        <p>Sát trùng bằng cồn 70 và lấy huyết thanh lọc qua máy lấy huyết tương giàu tiểu cầu.</p>
                        <p style="font-weight: bold;">Bước 5: Tiến hành điều trị</p>
                        <p>Tùy từng trường hợp mà bác sỹ sẽ tiến hành đẩy hoặc cấy tế bào vào vùng da điều trị.</p>

                        <div class="luuy"> (*) Hiệu quả có thể thay đổi tuỳ theo từng người.</div>
                        <div class="hotline_single text-center"> <img src="/images/header/hl.png" alt="holine"></div>
                    </div>
                </div>
                <% include ./partials/sidebar %>
            </div>
        </div>
    </div>
</div>
<% include ./partials/footer %>
<% include ./partials/endhead %>