<% include ./partials/head %>
<header>
<% include ./partials/header %>
<% include ./partials/navigation %>
</header>
<!-- <div class="slider hidden-xs"> <img src="/images/header/single-slider.jpg" width="100%" alt="đội ngũ bác sĩ"></div> -->
<div id="aau-wrapper">
    <div class="single-bar">
        <div class="container">
            <div class="row">
                <div class="bar col-md-12">
                    <div class="bg">
                        <div class="row">
                            <div class="col-md-9 col-sm-8 col-xs-12">
                                <p id="breadcrumbs"><span xmlns:v="http://rdf.data-vocabulary.org/#"><span typeof="v:Breadcrumb"><a href="/home" rel="v:url" property="v:title">Trang Chủ</a> \ <span rel="v:child" typeof="v:Breadcrumb"><span rel="v:child" typeof="v:Breadcrumb"><a href="" rel="v:url" property="v:title">Cấy tế bào gốc</a></span></span>
                                    </span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8 content">
                    <div class="post">
                        <div class="title">
                            <h1>
                                <i class="fa fa-file-text-o"></i> CẤY TẾ BÀO GỐC TẠI ALICE NAILS &amp; SPA
                            </h1>
                        </div>

                        <p>
                            <p><img class="aligncenter wp-image-20197" src="/images/homeslider/5.jpg" width="500" height="340"></p>
                        </p>
                        
						<p style="font-weight: bold;">Làm đẹp bằng tế bào gốc đang được ca ngợi như là một cuộc cách mạng trong việc trẻ hóa làn da và chống lão hóa. Da của bạn trông mượt mà hơn, ít nhăn nheo và trông trẻ hơn khi sử dụng phương pháp làm đẹp này. Bạn muốn xóa nếp nhăn muốn làn da căng mịn tự nhiên mà không cần phẫu thuật thẩm mỹ. Tất cả bạn cần là liệu pháp tế bào gốc.</p>

                        <p>Cấy tế bào gốc tại Alice Nails &amp; Spa là công nghệ giúp căng da, trẻ hóa &amp; trắng da hàng đầu hiện nay. Hiệu quả cao – An toàn tuyệt đối – Kết quả di trì lâu dài theo thời gian. Đây là sự kết hợp hoàn hảo giữa công nghệ hàng đầu với Tinh chất tế bào tươi đã có mặt tại và ứng dụng thành công tại Alice Nails &amp; Spa</p>

                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/post/39.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Cấy tế bào gốc giúp khôi phục làn da hư tổn và ngăn chặn quá trình lão hóa</p>
                        </div>

                        <p>Tại Alice Nails &amp; Spa hiện đang sử dụng các loại tế bào gốc quý hiếm có nguồn gốc từ những quốc gia hàng đầu trong ngành thẩm mỹ như Hàn Quốc và các nước Châu Âu. Với nguồn gốc và xuất xứ rõ ràng, Alice Nails &amp; Spa cam kết mang lại hiệu quả tuyệt đối cho khách hàng.<br>
                        Với phương pháp Cấy tế bào gốc, sẽ giúp kích thích tăng sinh collagen và elastin giúp làm căng mọng làn da, giảm nếp nhăn, da thô ráp và đốm nám. Hiệu quả duy trì lâu hơn gấp 3 lần so với các sản phẩm thông thường khác. Đem lại sức sống cho làn da của bạn! <br>
                        Ngoài ra, phương pháp kì diệu này còn giúp trẻ hóa da, xóa bỏ nếp nhăn, làm mịn lỗ chân lông, ngăn ngừa tích tụ sắc tố và mụn. Duy trì làn da mãi mãi ở tuổi thanh xuân.<br>
                        Một điều vô cùng đặc biệt của liệu pháp Tế bào gốc tại Alice Nails &amp; Spa, đó chính là cân bằng sắc thái và làm trắng da, giảm sự xuất hiện của các đốm nâu, sậm màu. Đồng thời, cung cấp nước giúp da ẩm mượt, mềm mại và săn chắc hơn. Làm da trắng mịn tức thì như ngọc trai.
                        </p>
                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/post/40.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Alice Nails &amp; Spa đem lại sức sống cho làn da của bạn!</p>
                        </div>

                        <p>Tinh chất Tế Bào Gốc được cấy trực tiếp vào da bằng công nghệ trị liệu y khoa của Hàn Quốc. Công nghệ này sẽ thực hiện cùng lúc 3 nhiệm vụ: Thay thế – Tái tạo – Phục hồi các tế bào già cỗi, sắp xếp lại cấu trúc da. Đồng thời, ức chế sự phát triển của sắc tố Melanin, mang lại làn da trắng mịn bật tone.<br>
                        Cấy tế bào gốc sẽ đưa những dưỡng chất cần thiết vào da nhanh hơn, dễ hơn, an toàn hơn bằng cách cấy vào da nhằm tái tạo, phục hồi các tế bào hư tổn, giúp da được giữ ẩm sâu, làm da căng bóng, trẻ hoá và trắng sáng đồng nhất.
                        </p>
                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/post/41.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Cấy tế bào gốc chỉ làm 01 lần, hiệu quả kéo dài 12 – 18 tháng</p>
                        </div>

                        <div class="luuy"> (*) Hiệu quả có thể thay đổi tuỳ theo từng người.</div>
                        <div class="hotline_single text-center"> <img src="/images/header/hl.png" alt="holine"></div>
                    </div>
                </div>
                <% include ./partials/sidebar %>
            </div>
        </div>
    </div>
</div>
<% include ./partials/footer %>
<% include ./partials/endhead %>