<% include ./partials/head %>
<header>
<% include ./partials/header %>
<% include ./partials/navigation %>
</header>
<!-- <div class="slider hidden-xs"> <img src="/images/header/single-slider.jpg" width="100%" alt="đội ngũ bác sĩ"></div> -->
<div id="aau-wrapper">
    <div class="single-bar">
        <div class="container">
            <div class="row">
                <div class="bar col-md-12">
                    <div class="bg">
                        <div class="row">
                            <div class="col-md-9 col-sm-8 col-xs-12">
                                <p id="breadcrumbs"><span xmlns:v="http://rdf.data-vocabulary.org/#"><span typeof="v:Breadcrumb"><a href="/home" rel="v:url" property="v:title">Trang Chủ</a> \ <span rel="v:child" typeof="v:Breadcrumb"><span rel="v:child" typeof="v:Breadcrumb"><a href="" rel="v:url" property="v:title">Chúng Huyền Thanh: 'Mặt thon gọn vì giảm cân'</a></span></span>
                                    </span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8 content">
                    <div class="post">
                        <div class="title">
                            <h1>
                                <i class="fa fa-file-text-o"></i> Chúng Huyền Thanh: 'Mặt thon gọn vì giảm cân'
                            </h1>
                        </div>

                        <p>
                            <p><img class="aligncenter wp-image-20197" src="/images/homeslider/5.jpg" width="500" height="340"></p>
                        </p>
                        <p style="font-weight: bold;">Xuất hiện với khuôn mặt khác lạ và thân mình mảnh mai, Chúng Huyền Thanh vướng vào tin đồn "dao kéo".</p>
                        <p>Bất ngờ đăng ký tham gia Hoa hậu Hoàn Vũ, á quân cuộc thi Gương mặt Thương hiệu - The Face 2016, Chúng Huyền Thanh khiến khán giả tò mò với ngoại hình khác lạ, cô cũng vướng phải tin đồn phẫu thuật thẩm mỹ để gây chú ý.</p>
                        <p style="font-style: italic;">- Ở thời điểm tham gia chương trình The Face 2016, Huyền Thanh thường bị khán giả chê thừa cân, không phù hợp với nghề người mẫu. Hiện tại, hình ảnh của bạn có gì mới?</p>
                        <p>- Trước khi tham gia cuộc thi The Face 2016, cân nặng của tôi luôn giữ ở mức ổn định. Sau khi chuyển đến TP.HCM để tập luyện cho chương trình, chế độ ăn thay đổi, hợp khẩu vị, nhiều đồ ngọt nên tôi tăng cân mất kiểm soát.<br>
                        Cơ thể thừa cân khiến tôi gặp nhiều trở ngại trong công việc nên đã quyết tâm giảm cân. Sau gần một năm, tôi đã giảm 9 kg (từ 63 kg xuống 53 kg), vóc dáng đã thon gọn hơn nhiều.</p>

                        <p style="font-style: italic;">- Huyền Thanh thay đổi ngoại hình do áp lực từ khán giả?</p>
                        <p>- Nhiều người hỏi, có phải Chúng Huyền Thanh bị khán giả chê nhiều quá nên mới quyết tâm giảm cân? Thực tế không phải vậy, tôi nhận thấy mình đã bước qua tuổi 20, không còn là thiếu nữ vô tư thích gì làm đó nữa. Đã đến lúc, tôi phải nghiêm khắc với bản thân và có trách nhiệm hơn với sự nghiệp đang theo đuổi.</p>

                        <p style="font-style: italic;">- Bạn có thể chia sẻ chế độ dinh dưỡng và tập luyện của mình trong thời gian qua?</p>
                        <p>- Thanh áp dụng thực đơn Low-carb (ít chất đường, tinh bột). Thực đơn này rất đơn giản, bạn chỉ cần hạn chế gần như tuyệt đối lượng đường, tinh bột trong khẩu phần ăn, còn lại có thể ăn thoải mái chất đạm (thịt, đậu, trứng), rau xanh. Bên cạnh đó, tôi sử dụng thêm thực phẩm chức năng hỗ trợ giảm cân, kết hợp tập luyện ít nhất 30 phút mỗi ngày.</p>
                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/news/8.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Cô áp dụng chế độ ăn kiêng tinh bột, đường, tăng cường chất đạm, rau xanh.</p>
                        </div>

                        <p style="font-style: italic;">- Bạn có từng bị ngất xỉu, mệt mỏi vì muốn giảm cân cấp tốc?</p>
                        <p>- Vì giảm cân theo chế độ khoa học và tập luyện đều đặn nên sức khỏe của tôi vẫn rất tốt, không gặp phải những hiện tượng như ngất xỉu, mệt mỏi. Tuy nhiên, phương pháp này không giúp bạn giảm cân nhanh chóng, kết quả đến chậm nên cần sự kiên trì. <br>
                        Tôi từng tham khảo nhiều phương pháp giảm cân khác nhau, cân đo độ lợi hại của chúng. Sau cùng, tôi vẫn chọn cách cải thiện vóc dáng bằng chế độ ăn kiêng khoa học kèm theo tập luyện để nâng cao sức khỏe. <br>
                        Có những ngày tập luyện mệt mỏi cùng áp lực công việc, tôi muốn buông xuôi. Nhưng khi nghĩ đến cái đẹp, lý do vì sao mình bắt đầu tôi lại có thêm quyết tâm. Hơn thế, ba mẹ và bạn trai luôn đốc thúc tôi cố gắng mỗi ngày, tiếp thêm động lực để tiến gần hơn với mục tiêu đã định.</p>

                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/news/9.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Huyền Thanh giảm 9 kg sau gần một năm ăn kiêng, tập luyện.</p>
                        </div>

                        <p style="font-style: italic;">- Có tin đồn Huyền Thanh phẫu thuật thẩm mỹ nâng mũi, gọt cằm. Thực hư chuyện này thế nào?</p>
                        <p>- Nhờ giảm cân nên gương mặt thon gọn hơn, tôi không cần đến các phương pháp phẫu thuật thẩm mỹ. Nếu thực sự đã can thiệp "dao kéo", bạn có nghĩ tôi đủ dũng cảm để đăng ký thi Hoa hậu Hoàn Vũ? </p>

                        <p style="font-style: italic;">- Nếu được “đập đi xây lại” toàn bộ gương mặt Thanh có làm không?</p>
                        <p>- Nếu phẫu thuật thẩm mỹ giúp bạn tự tin hơn trong cuộc sống và công việc thì Thanh hoàn toàn ủng hộ. Nhưng Thanh luôn đặt vấn đề sức khỏe của bản thân lên hàng đầu và không cổ xúy cho việc quá lạm dụng dao kéo. Với tôi, vẻ đẹp trí tuệ luôn quan trọng hơn ngoại hình.</p>

                        <p style="text-align: right; font-weight: bold;">Phương Anh</p>
                        <p style="text-align: right">Ảnh: NVCC</p>

                    </div>
                </div>
                <% include ./partials/sidebar %>
            </div>
        </div>
    </div>
</div>
<% include ./partials/footer %>
<% include ./partials/endhead %>