<% include ./partials/head %>
<header>
<% include ./partials/header %>
<% include ./partials/navigation %>
</header>
<!-- <div class="slider hidden-xs"> <img src="/images/header/single-slider.jpg" width="100%" alt="đội ngũ bác sĩ"></div> -->
<div id="aau-wrapper">
    <div class="single-bar">
        <div class="container">
            <div class="row">
                <div class="bar col-md-12">
                    <div class="bg">
                        <div class="row">
                            <div class="col-md-9 col-sm-8 col-xs-12">
                                <p id="breadcrumbs"><span xmlns:v="http://rdf.data-vocabulary.org/#"><span typeof="v:Breadcrumb"><a href="/home" rel="v:url" property="v:title">Trang Chủ</a> \ <span rel="v:child" typeof="v:Breadcrumb"><span rel="v:child" typeof="v:Breadcrumb"><a href="" rel="v:url" property="v:title">Dàn sao Việt chúc mừng Hữu Tiến và con gái lên chức ‘ông bà chủ’</a></span></span>
                                    </span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8 content">
                    <div class="post">
                        <div class="title">
                            <h1>
                                <i class="fa fa-file-text-o"></i> Dàn sao Việt chúc mừng Hữu Tiến và con gái lên chức ‘ông bà chủ’
                            </h1>
                        </div>

                        <p>
                            <p><img class="aligncenter wp-image-20197" src="/images/homeslider/5.jpg" width="500" height="340"></p>
                        </p>
                        <p style="font-weight: bold;">Cùng con gái Thuỷ Tiên khai trương ALICE Nails &amp; Spa, nghệ sĩ Hữu Tiến hạnh phúc khi chào đón sự ủng hộ và chúc mừng từ những người đồng nghiệp thân thiết trong nghề và các học trò.</p>

                        <p>Gần 30 năm làm nghệ thuật, diễn viên Hữu Tiến được biết đến là nghệ sĩ hoạt động nghệ thuật chăm chỉ, miệt mài. Thừa nhận bản thân từng vốn thiệt thòi nhiều thứ, anh muốn bù đắp những gì thiếu sót bằng việc cho các con có cuộc sống đủ đầy.</p>

                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/news/44.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Vợ chồng Tiến Luật đến chúc mừng 2 cha con Hữu Tiến</p>
                        </div>

                        <p>Là gà trống nuôi con, khi con trai có công việc ổn định, thành đạt và có gia đình hạnh phúc, Hữu Tiến dành cả sự quan tâm cho cô con gái nhỏ Thuỷ Tiên và bù đắp những thiệt thòi mà con gái trải qua. Cuối tuần rồi, hành loạt những nghệ sĩ có tên tuổi trong giới nghệ thuật đã đến chung vui cùng Hữu Tiến và con gái khi họ khai trương cơ sở kinh doanh mới – ALICE Nails &amp; Spa tại địa chỉ Hẻm TK26, số TK28/6 Nguyễn Cảnh Chân, P.Cầu Kho, Quận 1. Xuất hiện với trang phục giản dị, thân thiện, diễn viên Trịnh Kim Chi, Ngọc Trinh, Thu Trang, Tiến Luật, Khương Ngọc, BB Trần, Hải Triều, Diệu Nhi, Anh Tú, đạo diễn sân khấu Thế Giới Trẻ Ngọc Hùng, cùng đông đảo học trò mừng cho sự khởi đầu của Hữu Tiến và con gái.</p>

                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/news/45.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Cả 2 tranh thủ trải nghiệm dịch vụ tại đây</p>
                        </div>

                        <p>Sau những ồn ào từ việc khởi kiện Nhà hát Kịch, diễn viên Ngọc Trinh đã trở lại guồng quay công việc. Người anh thân thiết lên chức ông chủ, Ngọc Trinh là một trong những vị khách đầu tiên đến chúc mừng. Cô vui khi hai cha con Hữu Tiến có đứa con tinh thần mới và cầu mong cơ ngơi ALICE Nails &amp; Spa của cô bé 22 tuổi và bố trở thành địa điểm làm đẹp lý tưởng đặc biệt cho giới nghệ sĩ.</p>

                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/news/46.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Diễn viên Mùi Ngò Gai Ngọc Trinh cũng tranh thủ đến chung vui cùng đồng nghiệp</p>
                        </div>

                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/news/47.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Trịnh Kim Chi</p>
                        </div>

                        <p>Vừa cho ra mắt hàng loạt cơ sở kinh doanh ăn uống, vợ chồng Thu Trang – Tiến Luật cùng những người em thân thiết như Diệu Nhi, Anh Tú, BB Trần, Hải Triều… rủ rê đi làm đẹp. Trong khi Thu Trang và Diệu Nhi thích mê dịch vụ làm nail đầy mới lạ thì những chàng trai lại tân trang nhan sắc bằng việc làm da, massage phục hồi da tại ALICE Nails &amp; Spa sau những ngày ở phim trường miệt mài.</p>

                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/news/48.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Khương Ngọc</p>
                        </div>

                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/news/49.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Diệu Nhi – Anh Tú</p>
                        </div>

                        <p>Chứng kiến sự có mặt đông đủ của đồng nghiệp đến chúc mừng hai cha con, Hữu Tiến lại rưng rưng xúc động. Anh cho biết, con gái Thuỷ Tiên có đam mê nghệ thuật từ nhỏ nhưng chưa từng muốn theo con đường nghệ thuật giống bố bởi cô bé cảm thấy nghệ thuật quá khổ cực. Mê kinh doanh, ngay từ khi còn ngồi ghế giảng đường năm nhất, Thuỷ Tiên đã xin phép bố mở quán Ốc để thực hiện đam mê.</p>
                        <i>“Thời điểm ấy, tôi biết con gái sẽ kinh doanh không bền lâu vì con còn quá nhỏ sẽ thiếu kinh nghiệm. Tuy nhiên, tôi phải để con tự vận động, nếm thất bại mới có đủ bài học và kinh nghiệm với cuộc đời. Vì thế, thay vì ủng hộ và để con gái dựa vào, tôi để con tự lập bằng việc mỗi ngày ngồi bên kia đường nhìn con gái làm việc. Ba tháng cố gắng, cuối cùng con cũng đã đóng cửa quán vì kham không nổi” – Hữu Tiến nhớ lại.</i>

                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/news/50.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Hải Triều</p>
                        </div>

                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/news/51.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">BB Trần</p>
                        </div>

                        <p>Sau 3 năm chăm chỉ vừa học vừa làm ở một cơ sở làm đẹp nổi tiếng về thẩm mỹ, cô con gái xinh đẹp sinh năm 1995 Thuỷ Tiên đã lên chức bà chủ khi thấy đã đủ tay nghề và kinh nghiệm. Lần này thấy Thuỷ Tiên nghiêm túc, Hữu Tiến quyết định dành hết số tiền bao nhiêu năm miệt mài làm nghề với ý định mua nhà để cùng con gái mở Spa làm đẹp. Hơn hai mươi năm cùng các con ở nhà thuê, Hữu Tiến ước được có căn nhà nhỏ cho gia đình. Cũng vì thế anh làm ngày làm đêm để tiết kiệm. Thế nhưng, vì cô con gái 22 tuổi muốn tạo dựng sự nghiệp, anh sẵn sàng nhường ước mơ ngôi nhà nhỏ để phụ con gái kinh doanh spa.</p>
                    </div>
                </div>
                <% include ./partials/sidebar %>
            </div>
        </div>
    </div>
</div>
<% include ./partials/footer %>
<% include ./partials/endhead %>