<% include ./partials/head %>
<header>
<% include ./partials/header %>
<% include ./partials/navigation %>
</header>
<!-- <div class="slider hidden-xs"> <img src="/images/header/single-slider.jpg" width="100%" alt="đội ngũ bác sĩ"></div> -->
<div id="aau-wrapper">
    <div class="single-bar">
        <div class="container">
            <div class="row">
                <div class="bar col-md-12">
                    <div class="bg">
                        <div class="row">
                            <div class="col-md-9 col-sm-8 col-xs-12">
                                <p id="breadcrumbs"><span xmlns:v="http://rdf.data-vocabulary.org/#"><span typeof="v:Breadcrumb"><a href="/home" rel="v:url" property="v:title">Trang Chủ</a> \ <span rel="v:child" typeof="v:Breadcrumb"><span rel="v:child" typeof="v:Breadcrumb">Dịch vụ Spa</span></span>\ <span rel="v:child" typeof="v:Breadcrumb"><span rel="v:child" typeof="v:Breadcrumb">Dịch vụ dưỡng da và tắm trắng</span></span>
                                    </span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8 content">
                    <div class="archive">
                        <div class="item-archive">
                            <div class="row">
                                <h3><a href="/tam-duong-sang-da-toan-than">TẮM DƯỠNG SÁNG DA TOÀN THÂN</a></h3>
                                <div class="thumb col-md-12 col-sm-12 col-xs-12">
                                    <a href="/tam-duong-sang-da-toan-than" class="thumbnail">
                                        <img src="/images/homeslider/5.jpg" class="attachment-featured-thumb size-featured-thumb wp-post-image" alt="">
                                    </a>
                                </div>
                                <div class="detail col-md-12 col-sm-12 col-xs-12">
                                <p>Phương pháp tắm trắng toàn thân là dịch vụ tư vấn tắm trắng tại Alice Nails &amp; Spa chỉ với liệu trình ngắn, không gây kích ứng da, đảm bảo cho bạn làn da trắng sáng đẹp mịn màng, cho da  trắng, hồng, đều màu, không chỉ tác động tức thì mà còn duy trì kết quả dài lâu, đảm bảo không bong tróc, bỏng da… Bạn đã sẵn sàng để sở hữu vẻ đẹp thuần khiết này chưa?</p> <a class="readmore" href="/tam-duong-sang-da-toan-than"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Xem thêm</a></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div class="item-archive">
                            <div class="row">
                                <h3><a href="/tam-duong-sang-da-bang-cong-nghe-white-skin">TẮM DƯỠNG SÁNG DA BẰNG CÔNG NGHỆ WHITE SKIN</a></h3>
                                <div class="thumb col-md-12 col-sm-12 col-xs-12">
                                    <a href="/tam-duong-sang-da-bang-cong-nghe-white-skin" class="thumbnail">
                                        <img src="/images/homeslider/5.jpg" class="attachment-featured-thumb size-featured-thumb wp-post-image" alt="">
                                    </a>
                                </div>
                                <div class="detail col-md-12 col-sm-12 col-xs-12">
                                <p>Tắm dưỡng sáng  da công nghệ white skin kích thích sản sinh sợi nguyên bào, đánh thức lớp năng lượng ngủ quên trên da . Chỉ trong 4 tuần (5 – 6 lần) tắm trắng da, bạn sẽ sở hữu làn da trắng hồng từ bên trong, se khít lỗ chân lông, điều trị hoàn toàn tình trạng lão hóa da, làm mờ các vết nám…</p> <a class="readmore" href="/tam-duong-sang-da-bang-cong-nghe-white-skin"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Xem thêm</a></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div class="item-archive">
                            <div class="row">
                                <h3><a href="/sieu-tam-duong-sang-da-chuyen-biet">SIÊU TẮM DƯỠNG SÁNG DA CHUYÊN BIỆT TỪNG VÙNG</a></h3>
                                <div class="thumb col-md-12 col-sm-12 col-xs-12">
                                    <a href="/sieu-tam-duong-sang-da-chuyen-biet" class="thumbnail">
                                        <img src="/images/homeslider/5.jpg" class="attachment-featured-thumb size-featured-thumb wp-post-image" alt="">
                                    </a>
                                </div>
                                <div class="detail col-md-12 col-sm-12 col-xs-12">
                                <p>Các vùng cơ thể tiếp xúc nhiều với ánh nắng mặt trời sẽ bị lão hóa sớm và sạm đen, khiến bạn mất tự tin khi diện trang phục. Tại Alice Nails &amp; Spa, dịch vụ tư vấn Tắm dưỡng sáng da chuyên biệt từng vùng mang đến nhiều lựa chọn mới cho khách hàng. Với các thành phần tự nhiên, mỹ phẩm cao cấp và công nghệ hiện đại, chúng tôi có thể giúp bạn sở hữu làn da trắng mịn, ngọc ngà, giảm bắt nắng hiệu quả...</p> <a class="readmore" href="/sieu-tam-duong-sang-da-chuyen-biet"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Xem thêm</a></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center"></div>
                </div>
                <% include ./partials/sidebar %>
            </div>
        </div>
    </div>
</div>
<% include ./partials/footer %>
<% include ./partials/endhead %>