<% include ./partials/head %>
<header>
<% include ./partials/header %>
<% include ./partials/navigation %>
</header>
<!-- <div class="slider hidden-xs"> <img src="/images/header/single-slider.jpg" width="100%" alt="đội ngũ bác sĩ"></div> -->
<div id="aau-wrapper">
    <div class="single-bar">
        <div class="container">
            <div class="row">
                <div class="bar col-md-12">
                    <div class="bg">
                        <div class="row">
                            <div class="col-md-9 col-sm-8 col-xs-12">
                                <p id="breadcrumbs"><span xmlns:v="http://rdf.data-vocabulary.org/#"><span typeof="v:Breadcrumb"><a href="/home" rel="v:url" property="v:title">Trang Chủ</a> \ <span rel="v:child" typeof="v:Breadcrumb"><span rel="v:child" typeof="v:Breadcrumb">Dịch vụ Spa</span></span>\ <span rel="v:child" typeof="v:Breadcrumb"><span rel="v:child" typeof="v:Breadcrumb">Dịch vụ chăm sóc da</span></span>
                                    </span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8 content">
                    <div class="archive">
                        <div class="item-archive">
                            <div class="row">
                                <h3><a href="/dich-vu-cham-soc-da-mat">DỊCH VỤ CHĂM SÓC DA MẶT</a></h3>
                                <div class="thumb col-md-12 col-sm-12 col-xs-12">
                                    <a href="/dich-vu-cham-soc-da-mat" class="thumbnail">
                                        <img src="/images/homeslider/5.jpg" class="attachment-featured-thumb size-featured-thumb wp-post-image" alt="">
                                    </a>
                                </div>
                                <div class="detail col-md-12 col-sm-12 col-xs-12">
                                <p>Khuôn mặt trẻ trung, làn da trắng sáng mịn màng là một trong những tiêu chí đánh giá vẻ đẹp của con người. Cuộc sống hiện đại, không chỉ chị em phụ nữ mới quan tâm tới làm đẹp mà cả những cánh mày râu. Dịch vụ chăm sóc da mặt chuyên biệt sử dụng các loại mỹ phẩm với thương hiệu nổi tiếng như chăm sóc da mặt chuyên sâu của Alice Nails &amp; Spa đã được đánh giá cao của hàng triệu khách hàng hiện nay.</p> <a class="readmore" href="/dich-vu-cham-soc-da-mat"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Xem thêm</a></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div class="item-archive">
                            <div class="row">
                                <h3><a href="/dich-vu-cham-soc-da-toan-than">DỊCH VỤ CHĂM SÓC DA TOÀN THÂN</a></h3>
                                <div class="thumb col-md-12 col-sm-12 col-xs-12">
                                    <a href="/dich-vu-cham-soc-da-toan-than" class="thumbnail">
                                        <img src="/images/homeslider/5.jpg" class="attachment-featured-thumb size-featured-thumb wp-post-image" alt="">
                                    </a>
                                </div>
                                <div class="detail col-md-12 col-sm-12 col-xs-12">
                                <p>Làn da là bộ phận phải chịu nhiều tác động nhất từ những điều kiện khách quan của môi trường như gió, bụi, ánh nắng, hóa chất,… Vì thế, chúng cần được chăm sóc, nuôi dưỡng hàng ngày. Chăm sóc da toàn thân với các thành phần tự nhiên được coi là bí quyết làm đẹp từ ngàn xưa lưu truyền lại...</p> <a class="readmore" href="/dich-vu-cham-soc-da-toan-than"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Xem thêm</a></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div class="item-archive">
                            <div class="row">
                                <h3><a href="/dich-vu-cham-soc-da-lao-hoa-collagen">DỊCH VỤ CHĂM SÓC DA LÃO HÓA VỚI COLLAGEN</a></h3>
                                <div class="thumb col-md-12 col-sm-12 col-xs-12">
                                    <a href="/dich-vu-cham-soc-da-lao-hoa-collagen" class="thumbnail">
                                        <img src="/images/homeslider/5.jpg" class="attachment-featured-thumb size-featured-thumb wp-post-image" alt="">
                                    </a>
                                </div>
                                <div class="detail col-md-12 col-sm-12 col-xs-12">
                                <p>Chăm sóc da lão hóa là một trong những dịch vụ chăm sóc da được nhiều chị em phụ nữ tin tưởng và sử dụng. Chăm sóc da lão hóa sẽ bổ sung dưỡng chất cho làn da lão hóa là điều quan trọng nhất để bạn lấy lại được sức sống cho làn da...</p> <a class="readmore" href="/dich-vu-cham-soc-da-lao-hoa-collagen"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Xem thêm</a></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center"></div>
                </div>
                <% include ./partials/sidebar %>
            </div>
        </div>
    </div>
</div>
<% include ./partials/footer %>
<% include ./partials/endhead %>