<% include ./partials/head %>
<header>
<% include ./partials/header %>
<% include ./partials/navigation %>
</header>
<!-- <div class="slider hidden-xs"> <img src="/images/header/single-slider.jpg" width="100%" alt="đội ngũ bác sĩ"></div> -->
<div id="aau-wrapper">
    <div class="single-bar">
        <div class="container">
            <div class="row">
                <div class="bar col-md-12">
                    <div class="bg">
                        <div class="row">
                            <div class="col-md-9 col-sm-8 col-xs-12">
                                <p id="breadcrumbs"><span xmlns:v="http://rdf.data-vocabulary.org/#"><span typeof="v:Breadcrumb"><a href="/home" rel="v:url" property="v:title">Trang Chủ</a> \ <span rel="v:child" typeof="v:Breadcrumb"><span rel="v:child" typeof="v:Breadcrumb">Dịch vụ Spa</span></span>\ <span rel="v:child" typeof="v:Breadcrumb"><span rel="v:child" typeof="v:Breadcrumb">Dịch vụ chăm sóc da</span>\ <span rel="v:child" typeof="v:Breadcrumb"><span rel="v:child" typeof="v:Breadcrumb">Dịch vụ chăm sóc da mặt</span></span></span>
                                    </span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8 content">
                    <div class="post">
                        <div class="title">
                            <h1>
                                <i class="fa fa-file-text-o"></i> Dịch vụ chăm sóc da mặt
                            </h1>
                        </div>

                        <p>
                            <p><img class="aligncenter wp-image-20197" src="/images/homeslider/5.jpg" width="500" height="340"></p>
                        </p>
                        <p style="font-weight: bold;">Khuôn mặt trẻ trung, làn da trắng sáng mịn màng là một trong những tiêu chí đánh giá vẻ đẹp của con người. Cuộc sống hiện đại, không chỉ chị em phụ nữ mới quan tâm tới làm đẹp mà cả những cánh mày râu. Dịch vụ chăm sóc da mặt chuyên biệt sử dụng các loại mỹ phẩm với thương hiệu nổi tiếng như chăm sóc da mặt chuyên sâu của Alice Nails &amp; Spa đã được đánh giá cao của hàng triệu khách hàng hiện nay.
                        </p>

                        <h2>TẠI SAO NÊN SỬ DỤNG DỊCH VỤ CHĂM SÓC DA MẶT?</h2>
                        <p style="font-weight: bold;">• Da được làm sạch đến tinh khiết</p>
                        <p>Da mặt được làm sạch sâu loại bỏ mọi chất bẩn, giúp các chất dinh dưỡng dễ dàng thẩm thấu sâu hơn vào trong da</p>
                        <p style="font-weight: bold;">• Loại bỏ các lớp tế bào chết trên bề mặt và sâu trong da</p>
                        <p>Tẩy tế bào chết giúp lỗ chân lông thông thoáng, giải phóng các lỗ chân lông, lấy đi các mụn cám, bui bẩn.</p>
                        <p style="font-weight: bold;">• Quy trình được nghiên cứu và sản xuất</p>
                        <p>Quy trình nghiên cứu và sản xuất được kiểm nghiệm y tế chặt chẽ đảm bảo uy tín tuyệt đối</p>
                        <p style="font-weight: bold;">• Hương thơm tinh tế không thể nào quên</p>
                        <p>Hương thơm tinh tế không thể nào quên, để tạo nên một lớp màng hoàn hảo bao bọc làn da. Mỗi dòng sản phẩm được sử dụng đều được thiết kế riêng để đặc trị các vấn đề về da</p>

                        <h2>AI NÊN SỬ DỤNG DỊCH VỤ CHĂM SÓC DA MẶT?</h2>
                        <ul>
                            <li>Cả nam và nữ</li>
                            <li>Lỗ chân lông to</li>
                            <li>Da không mịn màng</li>
                            <li>Da mệt mỏi, thiếu sức sống</li>
                        </ul>

                        <h2>ALICE NAILS &amp; SPA – ĐỊA CHỈ CHĂM SÓC DA MẶT UY TÍN TẠI TPHCM</h2>
                        <p>Một khuôn mắt khả ái với làn da trắng sáng là mơ ước của bất cứ chị em nào? Vì thế, nhu cầu chăm sóc da mặt là nhu cầu tất yếu của các chị em để nhanh chóng trở nên xinh đẹp, quyến rũ hơn trong mắt phái mạnh. Alice Nails &amp; Spa đã đón đầu được tâm lý và đưa về những phương pháp chăm sóc da tiến tiến, hiện đại nhằm mang đến niềm hạnh phúc cho phái đẹp một cách hiệu quả nhất. Ngoài dịch vụ chăm sóc da mặt, chúng tôi còn có rất nhiều các dịch vụ spa nổi bật.</p>       

                        <h2>QUY TRÌNH CỦA DỊCH VỤ CHĂM SÓC DA MẶT</h2>
                        <p style="font-weight: bold;">• Rửa mặt sạch</p>
                        <p style="font-weight: bold;">• Tẩy tế bào da chết</p>
                        <p>Tẩy tế bào chết là bước quan trọng trong liệu trình chăm sóc làm đẹp da mặt, nó giúp lỗ chân lông thông thoáng.</p>
                        <p style="font-weight: bold;">• Thoa nước hoa hồng</p>
                        <p style="font-weight: bold;">• Đưa tinh chất (serum) nuôi dưỡng sâu cho da</p>
                        <p>Tinh chất được đưa vào sâu trong da sẽ nuôi dưỡng da từ bên trong để da khỏe mạnh</p>
                        <p style="font-weight: bold;">• Massage da mặt</p>
                        <p>Chuyên viên tại Alice Nails &amp; Spa sẽ thực hiện các động tác massage mặt để kích thích quá trình trao đổi chất, sản sinh collagen làm da săn chắc, mịn màng</p>
                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/post/22.jpg" alt="" width="513" height="348">
                        </div>
                        <p style="font-weight: bold;">• Đắp mặt nạ cho da</p>
                        <p>Đăp mặt nạ cung cấp thêm chất dinh dưỡng, thẩm thấu vào da</p>
                        <p style="font-weight: bold;">• Thoa nước hoa hồng, kem dưỡng chống nắng bảo vệ da mặt</p>
                        <p>Bước cuối cùng là thoa kem dưỡng và bảo vệ làn da của bạn chống lại các tác nhân gây hại.</p>

                        <h2>KẾT QUẢ SAU CHĂM SÓC DA MẶT TẠI THẨM MỸ ALICE NAILS &amp; SPA</h2>
                        <i>• Da mịn màng, tươi trẻ <br>
                        • Làm chậm quá trình lão hóa da
                        </i>

                        <h2>LƯU Ý SAU KHI CHĂM SÓC DA MẶT</h2>
                        <p>•    Thoa kem dưỡng theo hướng dẫn <br>
                        •   Tránh tiếp xúc trực tiếp với ánh nắng sau khi chăm sóc da mặt.
                        </p>

                        <div class="luuy"> (*) Kết quả có thể phụ thuộc vào cơ địa mỗi người.</div>

                    </div>
                </div>
                <% include ./partials/sidebar %>
            </div>
        </div>
    </div>
</div>
<% include ./partials/footer %>
<% include ./partials/endhead %>