<% include ./partials/head %>
<header>
<% include ./partials/header %>
<% include ./partials/navigation %>
</header>
<!-- <div class="slider hidden-xs"> <img src="/images/header/single-slider.jpg" width="100%" alt="đội ngũ bác sĩ"></div> -->
<div id="aau-wrapper">
    <div class="single-bar">
        <div class="container">
            <div class="row">
                <div class="bar col-md-12">
                    <div class="bg">
                        <div class="row">
                            <div class="col-md-9 col-sm-8 col-xs-12">
                                <p id="breadcrumbs"><span xmlns:v="http://rdf.data-vocabulary.org/#"><span typeof="v:Breadcrumb"><a href="/home" rel="v:url" property="v:title">Trang Chủ</a> \ <span rel="v:child" typeof="v:Breadcrumb"><span rel="v:child" typeof="v:Breadcrumb"><a href="" rel="v:url" property="v:title">Diễn viên Hữu Tiến khoe con gái xinh đẹp</a></span></span>
                                    </span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8 content">
                    <div class="post">
                        <div class="title">
                            <h1>
                                <i class="fa fa-file-text-o"></i> Diễn viên Hữu Tiến khoe con gái xinh đẹp
                            </h1>
                        </div>

                        <p>
                            <p><img class="aligncenter wp-image-20197" src="/images/homeslider/5.jpg" width="500" height="340"></p>
                        </p>
                        <p style="font-weight: bold;">Nam nghệ sĩ dồn tiền định mua nhà cho con gái cưng mở cơ sở làm đẹp tại TP HCM</p>

                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/news/34.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Diễn viên Hữu Tiến quen thuộc với khán giả truyền hình qua các phim như 'Giao thời', 'Cánh buồm ảo ảnh', 'Mưa'... Anh hiện vừa đóng phim vừa tham gia dàn dựng các vở kịch nói. Ngoài đời, Hữu Tiến khá lận đận. Sau đổ vỡ hôn nhân, anh thành 'gà trống nuôi con'. Con trai của nam nghệ sĩ đã trưởng thành, có gia đình riêng. Hữu Tiến hiện sống cùng cô con gái 22 tuổi có ngoại hình rất xinh tên là Thủy Tiên. Anh vừa dồn tiền giúp con gái mở cơ sở chăm sóc sắc đẹp tại TP HCM. Nghệ sĩ Đàm Loan (giữa) tới chúc mừng hai bố con Hữu Tiến.</p>
                        </div>

                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/news/35.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Á hậu Trịnh Kim Chi tặng Thủy Tiên món quà hình con ếch vàng ngậm đồng tiền với ý nghĩa chúc con gái Hữu Tiến kinh doanh thành công.</p>
                        </div>

                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/news/36.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Vợ chồng Tiến Luật - Thu Trang mặc giản dị đi sự kiện. Tiến Luật ngó lơ bà xã, cố tình áp sát trêu ghẹo bạn đồng nghiệp.</p>
                        </div>

                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/news/37.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Thu Trang tranh thủ làm móng tại cơ sở làm đẹp của bố con Hữu Tiến.</p>
                        </div>

                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/news/38.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Diễn viên Ngọc Trinh rạng rỡ tái xuất sau ồn ào kiện Nhà hát Kịch. Hữu Tiến là người anh thân thiết với cô nhiều năm nay. </p>
                        </div>

                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/news/39.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Diễn viên Hải Triều (thứ ba từ trái qua) cùng nhiều nghệ sĩ 'đàn em' tới chung vui với Hữu Tiến.</p>
                        </div>

                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/news/40.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Anh Tú tạo dáng tinh nghịch trước ống kính.</p>
                        </div>

                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/news/41.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Diễn viên hài BB Trần ngoài đời nhìn bụi bặm, cá tính khác hẳn khi lên sân khấu hài.</p>
                        </div>

                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/news/42.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Diệu Nhi chụp ảnh cùng cô chủ trẻ Thủy Tiên. Con gái Hữu Tiến sinh năm 1995, từng có ý định theo nghệ thuật giống bố nhưng cuối cùng lại chuyển hướng sang kinh doanh. Bố con cô vẫn phải sống ở nhà thuê để dồn tiền cho cơ sở làm đẹp.</p>
                        </div>

                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/news/43.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Diễn viên Khương Ngọc tới trải nghiệm dịch vụ mới.</p>
                        </div>

                        <p style="text-align: right; font-weight: bold;">Ảnh: Khểnh</p>
                    </div>
                </div>
                <% include ./partials/sidebar %>
            </div>
        </div>
    </div>
</div>
<% include ./partials/footer %>
<% include ./partials/endhead %>