<% include ./partials/head %>
<header>
<% include ./partials/header %>
<% include ./partials/navigation %>
</header>
<!-- <div class="slider hidden-xs"> <img src="/images/header/single-slider.jpg" width="100%" alt="đội ngũ bác sĩ"></div> -->
<div id="aau-wrapper">
    <div class="single-bar">
        <div class="container">
            <div class="row">
                <div class="bar col-md-12">
                    <div class="bg">
                        <div class="row">
                            <div class="col-md-9 col-sm-8 col-xs-12">
                                <p id="breadcrumbs"><span xmlns:v="http://rdf.data-vocabulary.org/#"><span typeof="v:Breadcrumb"><a href="/home" rel="v:url" property="v:title">Trang Chủ</a> \ <span rel="v:child" typeof="v:Breadcrumb"><span rel="v:child" typeof="v:Breadcrumb"><a href="" rel="v:url" property="v:title">Điện di</a></span></span>
                                    </span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8 content">
                    <div class="post">
                        <div class="title">
                            <h1>
                                <i class="fa fa-file-text-o"></i> CÔNG NGHỆ ĐIỆN DI TẠI ALICE NAILS &amp; SPA
                            </h1>
                        </div>

                        <p>
                            <p><img class="aligncenter wp-image-20197" src="/images/homeslider/5.jpg" width="500" height="340"></p>
                        </p>
                        <p style="font-style: italic;">Công nghệ điện di là công nghệ khá phổ biến ở các trung tâm chăm sóc sắc đẹp tại Hàn Quốc hay các nước Châu Â lựa chọn. Phương pháp điện di mang lại hiệu quả tốt trong quá trình trị liệu về nám da và trẻ hóa da trong khi không cần thời gian hồi phục và nghỉ dưỡng </p>
                        <p>Các phương pháp bôi collagen, vitamin C hay serum ngoài da thực chất không thể đưa được dưỡng chất với nồng độ cao vào vùng da điều trị. Để tối ưu hóa hiệu quả chăm sóc da, Alice Nails &amp; Spa đã áp dụng công nghệ điện di để dẫn tinh chất vào sâu tận đáy của biểu bì bằng cách dùng sóng điện từ.</p>
                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/new/5.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Công nghệ điện di mang lại cho quý khách một làn da tươi trẻ và khỏe mạnh</p>
                        </div>

                        <p>Phương pháp điện di tại Alice Nails & Spa được áp dụng theo công nghệ tiên tiến Hàn Quốc kết hợp với các tinh chất dưỡng da đậm đặc, an toàn và lành tính, đảm bảo hiệu quả làm đẹp da nhanh và không gây kích ứng. Tại Alice Nails & Spa đang có nhiều dịch vụ điện di phù hợp với tính chất da của từng khách hàng:</p>

                        <p style="font-weight: bold;">- Điện di H.A </p>
						<p style="font-weight: bold;">- Điện di Vita C </p>

                        <h2>Quy trình điện di dưỡng da tại Alice Nail &amp; Spa</h2>
                        <p style="font-weight: bold;">Bước 1: Làm sạch da với sữa rửa mặt và kem tẩy da chết.</p>
                        <p style="font-weight: bold;">Bước 2: Massage da mặt với collagen</p>
                        <p style="font-weight: bold;">Bước 3: Dùng công nghệ điện chuyển ion – đẩy sâu tinh chất vào da. Tinh chất có thể là Hyaluronic, serum, collagen hoặc Vita C tùy lựa chọn của khách hàng.</p>
                        <p style="font-weight: bold;">Bước 4: : Đắp mặt nạ chuyên sâu độc quyền Alice Nail &amp; Spa để một lần nữa khoá độ ẩm dưới làn da.</p>
                        <p style="font-weight: bold;">Bước 5: Massage cổ, vai gáy</p>
                        <p style="font-weight: bold;">Bước 6: Thoa tế bào gốc thực vật kết thúc liệu trình.</p>
                        
                        <h3>Điện di Vita C </h2>
                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/new/6.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Điện di Vita C giúp làn da trắng sáng khoẻ mạnh</p>
                        </div>

						<p>Bổ sung vitamin C cho da bằng phương pháp điện di sẽ giúp làn da đẹp lên nhanh chóng, hiệu quả và an toàn hơn.</p>
						<p>Vitamin C ngoài tăng cường sức đề kháng và duy trì sức khỏe còn tác động mang lại nhiều tác dụng tích cực với làn da như:</p>
						<p>– Gia tăng tuần hoàn máu, lấy đi oxygen hoạt hóa, giúp duy trì sự đàn hồi, săn chắc cho làn da, ngăn ngừa lão hóa da.</p>
						<p>– Kích thích sự tổng hợp collagen, làm đầy sẹo lõm. Các nghiên cứu khoa học cho thấy khi sử dụng trên da, tế bào tiếp xúc với Vitamin C tái tạo sợi collagen nhanh gấp 8 lần so với bình thường.</p>
						<p>– Ngăn sự hình thành và làm mờ sắc tố melanin, cải thiện tình trạng sạm da, làm mờ đốm nâu và vết nám.</p>
						<p>– Bảo vệ da trước những tác hại bên trong lẫn bên ngoài, hiệu quả cao trong việc điều trị da bị tổn thương do tác hại của ánh nắng.</p>
						<p> Tại Alice Nails & Spa đã áp dụng kỹ thuật mới điện di Vita C giúp chuyển vitamin C vào da. Do vitamin C thẩm thấu mạnh, sâu, tạo ra nồng độ cao dưới da vậy nên hoạt tính được tăng cường mà không một chế phẩm dùng ngoài nào sánh kịp.</p>
                        
						<h3>Điện di H.A </h2>
						<p>Phương pháp điện di H.A sẽ làm giảm sự gia tăng hắc tố bất thường, điều trị được nám và các kiểu thâm da giúp da có được sự căng bóng tự nhiên. Đây cũng là chất xúc tác trong việc tạo ra collagen ở lớp dưới da, làm đầy và căng lớp da bên trên, từ đó làm giảm nếp nhăn, giảm sẹo lõm do rỗ, mụn trứng cá.</p>
						<p>Ngoài ra, kỹ thuật điện di H.A còn tác động vào các chuỗi nhiễm sắc thể, ngăn chặn quá trình lão hóa da, ngăn chặn tế bào chết do lipo-peroxit, từ đó hạn chế tiết bã nhờn. Phối hợp với các loại kem chống nắng, kỹ thuật này sẽ loại trừ oxygen hoạt tính, giúp hạn chế ảnh hưởng của tia tử ngoại.</p>
                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/new/7.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Điện di H.A mang lại làm da căng bóng tự nhiên</p>
                        </div>
						
                        <div class="luuy"> (*) Hiệu quả có thể thay đổi tuỳ theo từng người.</div>
                        <div class="hotline_single text-center"> <img src="/images/header/hl.png" alt="holine"></div>
                    </div>
                </div>
                <% include ./partials/sidebar %>
            </div>
        </div>
    </div>
</div>
<% include ./partials/footer %>
<% include ./partials/endhead %>