<% include ./partials/head %>
<header>
<% include ./partials/header %>
<% include ./partials/navigation %>
</header>
<!-- <div class="slider hidden-xs"> <img src="/images/header/single-slider.jpg" width="100%" alt="đội ngũ bác sĩ"></div> -->
<div id="aau-wrapper">
    <div class="single-bar">
        <div class="container">
            <div class="row">
                <div class="bar col-md-12">
                    <div class="bg">
                        <div class="row">
                            <div class="col-md-9 col-sm-8 col-xs-12">
                                <p id="breadcrumbs"><span xmlns:v="http://rdf.data-vocabulary.org/#"><span typeof="v:Breadcrumb"><a href="/home" rel="v:url" property="v:title">Trang Chủ</a> \ <span rel="v:child" typeof="v:Breadcrumb"><span rel="v:child" typeof="v:Breadcrumb"><a href="" rel="v:url" property="v:title">Điều trị mụn</a></span></span>
                                    </span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8 content">
                    <div class="post">
                        <div class="title">
                            <h1>
                                <i class="fa fa-file-text-o"></i> ĐIỀU TRỊ MỤN
                            </h1>
                        </div>

                        <p>
                            <p><img class="aligncenter wp-image-20197" src="/images/homeslider/5.jpg" width="500" height="340"></p>
                        </p>
                        
						<p style="font-style: italic;">Mụn không nguy hại đến sức khoẻ nhưng lại ảnh hưởng rất lớn đến vấn đề thẩm mỹ, và thường để lại những di chứng về sau nếu không được điều trị kịp thời, như các vết thâm mụn, sẹo lõm... Vì vậy, bạn nên điều trị sớm để lấy lại làn da đẹp nguyên thủy của mình trước khi quá muộn.</p>
						
						<div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/new/8.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Làn da tươi trẻ sạch mụn giúp bạn tự tin hơn trong cuộc sống</p>
                        </div>

						<p>Điều trị mụn ngày nay với chuyên môn cao của bác sĩ và sự hỗ trợ của công nghệ ánh sáng sinh học trở nên đơn giản và dễ dàng hơn. Trị mụn bằng ánh sáng sinh học đang là một trong những phương pháp hiệu quả nhất hiện nay. Tại Alice Nails & Spa đang áp dụng phương pháp này, giúp không chỉ giúp trị mụn triệt để mà còn giúp làn da của chị em phụ nữ trở nên tươi trẻ và mịn màng hơn rất nhiều. </p>
						
						<div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/new/9.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Ưu điểm của ánh sáng sinh học là trị liệu một cách tự nhiên và nhẹ nhàng</p>
                        </div>
						
						<p>Trị mụn bằng ánh sáng sinh học là sử dụng công nghệ quang học để chăm sóc và trị liệu da. Liệu pháp điều trị này thích hợp với mọi loại da, đặc biệt là điều trị tận gốc và phục hồi da sau mụn. Ưu điểm của ánh sáng sinh học là trị liệu một cách tự nhiên và nhẹ nhàng, có thể tác động sâu dưới da mà không gây ra các tác dụng phụ.</p>
						
						<p>Liệu trình điều trị trải qua những bước cơ bản sau:</p>
<p>+ Rửa mặt, tẩy tế bào chết</p>
<p>+ Thoa mỹ phẩm làm mềm nhân mụn, sau đó xông hơi nóng. Trong lúc xông hơi nóng tiền hành hút nhân mụn.</p>
<p>+ Lấy khăn ấm đắp mặt thư giãn</p>
<p>+ Thoa serum điều trị mụn (trị mụn, trắng da, trẻ hóa, xóa nhăn,…)</p>
<p>+ Dùng thiết bị chuyên dụng đẩy serum điều trị mụn vào sâu trong da</p>
<p>+ Chiếu ánh sáng sinh học với màu tương ứng liệu trình điều trị </p>
<p>+ Đắp mặt nạ điều trị phù hợp</p>
<p>+ Thoa serum làm dịu da. Kết thúc liệu trình điều trị.</p>

						<div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/new/10.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Alice Nails & Spa luôn mang lại sự hài lòng cho khách hàng</p>
                        </div>

						<p>Với công nghệ điều trị mụn bằng ánh sáng sinh học tại Alice Nails & Spa, mụn sẽ được diệt gọn một cách nhanh chóng, hiệu quả và an toàn. Chúng tôi cam kết điều trị mụn tận gốc chỉ sau một lần với mụn nhẹ và số lần điều trị thấp nhất với mụn nặng, đảm bảo sự hài lòng nhất cho khách hàng.</p>
						
                        <div class="luuy"> (*) Hiệu quả có thể thay đổi tuỳ theo từng người.</div>
                        <div class="hotline_single text-center"> <img src="/images/header/hl.png" alt="holine"></div>
                    </div>
                </div>
                <% include ./partials/sidebar %>
            </div>
        </div>
    </div>
</div>
<% include ./partials/footer %>
<% include ./partials/endhead %>