<% include ./partials/head %>
<header>
<% include ./partials/header %>
<% include ./partials/navigation %>
</header>
<div id="aau-wrapper">
    <div class="single-bar">
        <div class="container">
            <div class="row">
                <div class="bar col-md-12">
                    <div class="bg">
                        <div class="row">
                            <div class="col-md-9 col-sm-8 col-xs-6">
                                <p id="breadcrumbs"><span typeof="v:Breadcrumb"><a href="../index.html" rel="v:url" property="v:title">Trang Chủ</a></span> &gt; Liên Hệ</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8 content">
                    <div class="post">
                        <div class="title">
                            <h1>Liên Hệ</h1></div>
                        <div class="contact">
                            <h2>TRỤ SỞ CHÍNH</h2>
                            <p><u>Địa chỉ:</u> Hẻm TK26, số TK28/6 Nguyễn Cảnh Chân, P.Cầu Kho, Quận 1, TP HCM.</p>
                            <p><u>Hotline</u>: 0938.39.16.56</p>
                            <p><u>Email:</u> <a href="mailto:thuytien2530@gmail.com">thuytien2530@gmail.com</a> – <u>Website:</u> <a href="../index.html">alicebeautiandspa.vn</a></p>
                            <p><u>Facebook:</u> <a href="https://www.facebook.com/alicenailsspaTK28.6/">fb.com/alicenailsspaTK28.6</a></p>
                            <p><a href="https://www.google.com/maps/place/TK28%2F6+Nguy%E1%BB%85n+C%E1%BA%A3nh+Ch%C3%A2n,+C%E1%BA%A7u+Kho,+Qu%E1%BA%ADn+1,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/@10.7588086,106.6885459,17.75z/data=!4m5!3m4!1s0x31752f10746cf489:0xb72657dd399f99ff!8m2!3d10.7587334!4d106.6883899?hl=vi-VN" target="_blank" target="_blank" rel="attachment wp-att-31508 noopener noreferrer"><img class="aligncenter size-full wp-image-31508" src="/images/maps/1.png" alt="" width="800" height="263" srcset="/images/maps/1.png" sizes="(max-width: 800px) 100vw, 800px" /></a><em>(Click vào hình để xem bản đồ lớn)</em></p>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4 sidebar">
                	<div class="sidebar-spacing hidden-xs"></div>
                    <div class="support">
                        <div class="number">
                            <h2>Tư vấn trực tuyến</h3>
                            <p>0938.39.16.56</p> <span>HAY</span></div>
                        <form action="https://docs.google.com/forms/d/1bWhxLFQ6cNzDITWV2xJICdHh41nmRXZnvcy7EezwCqQ/formResponse" method="POST" id="ss-form" target="_self" onsubmit="">
                            <input type="text" name="entry.1431387140" value="" class="ss-q-short" id="entry_1431387140" dir="auto" aria-label="Họ và tên  " aria-required="true" required="" title="" placeholder="HỌ VÀ TÊN" title="Vui lòng điền họ tên">
                            <input type="text" name="entry.1511818966" value="" class="ss-q-short" id="entry_1511818966" dir="auto" aria-label="Số điện thoại  Số điện thoại không chính xác" aria-required="true" required="" pattern=".*\+?\(?\d{2,4}\)?[\d\s-]{3,}.*" title="Số điện thoại không chính xác" placeholder="SỐ ĐIỆN THOẠI">
                            <input type="text" name="entry.1453085291" value="" class="ss-q-short" id="entry_1453085291" dir="auto" aria-label="Email  Email không chính xác" aria-required="true" required="" pattern=".*@.*" title="Email không chính xác" placeholder="EMAIL">
                            <input type="text" name="entry.542910917" value="" class="ss-q-short" id="entry_542910917" dir="auto" aria-label="Ngày tháng  " aria-required="true" required="" title="" placeholder="NGÀY THÁNG">
                            <textarea name="entry.147923081" rows="8" cols="0" class="ss-q-long required" id="entry_147923081" dir="auto" aria-label="Nội dung  " aria-required="true" required="" placeholder="NỘI DUNG"></textarea>
                            <p class="text-center">
                                <button type="submit" class="btn" id="ss-submit" name="submit">đặt lịch tư vấn</button>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ./partials/footer %>
<% include ./partials/endhead %>