<% include ./partials/head %>
<header>
<% include ./partials/header %>
<% include ./partials/navigation %>
</header>
<!-- <div class="slider hidden-xs"> <img src="/images/header/single-slider.jpg" width="100%" alt="đội ngũ bác sĩ"></div> -->
<div id="aau-wrapper">
    <div class="single-bar">
        <div class="container">
            <div class="row">
                <div class="bar col-md-12">
                    <div class="bg">
                        <div class="row">
                            <div class="col-md-9 col-sm-8 col-xs-12">
                                <p id="breadcrumbs"><span xmlns:v="http://rdf.data-vocabulary.org/#"><span typeof="v:Breadcrumb"><a href="/home" rel="v:url" property="v:title">Trang Chủ</a> \ <span rel="v:child" typeof="v:Breadcrumb"><span rel="v:child" typeof="v:Breadcrumb"><a href="" rel="v:url" property="v:title">Sụn nâng mũi nào tốt nhất?</a></span></span>
                                    </span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8 content">
                    <div class="post">
                        <div class="title">
                            <h1>
                                <i class="fa fa-file-text-o"></i> Sụn nâng mũi nào tốt nhất?
                            </h1>
                        </div>

                        <p>
                            <p><img class="aligncenter wp-image-20197" src="/images/homeslider/5.jpg" width="500" height="340"></p>
                        </p>
                        <p style="font-weight: bold;">Các loại sụn mới phải được khoa học kiểm chứng. Tuyên bố của một hãng hay một chuyên gia không có giá trị bằng các nghiên cứu khoa học.</p>
                        <p style="font-style: italic;">- Tôi thấy trên thị trường quảng cáo rất nhiều loại sụn nâng mũi khác nhau, có giá cao và độ tương thích tốt hơn sụn bằng silicone. Tôi đang có ý định nâng mũi nhưng không biết chọn loại nào (Đỗ Thị Lan, 27 tuổi, Hà Nội).</p>
                        <p style="font-weight: bold;">Tiến sĩ, bác sĩ chuyên khoa II Vũ Sơn (tốt nghiệp Học viện Quân Y, tu nghiệp nước ngoài ngành Spa và thẩm mỹ với gần 20 năm kinh nghiệm), tư vấn:</p>
                        <p>- Người Đông Nam Á có đặc điểm mũi tẹt, thấp nên phẫu thuật nâng mũi là phổ biến để đáp ứng nhu cầu “Tây hóa”. Tuy nhiên, ngành thẩm mỹ của nước ta đang ở thời kỳ phát triển “tranh tối tranh sáng”, chưa định hình được thế nào là một vẻ đẹp khỏe mạnh, hài hòa, đưa ra nhiều loại hình thẩm mỹ khác nhau, quảng cáo tràn lan khiến khách hàng không xác định được phương pháp phù hợp với mình. </p>
                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/news/6.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Các loại sụn khác nhau được quảng cáo để nâng mũi. Ảnh: BSCC</p>
                        </div>

                        <p>Từ trước đến nay, sụn silicone được dùng trong phẫu thuật nâng mũi rất hiếm khi xảy ra tình trạng không tương thích. Những ca biến chứng như bóng, đỏ đầu mũi thường do nhiễm trùng, nâng mũi quá cao và dài gây mỏng da, rối loạn tuần hoàn đầu mũi, thời tiết lạnh,... Không tương thích với sụn không phải là nguyên nhân gây nên hiện tượng trên. <br>
                        Vì vậy, để tiết kiệm chi phí bạn có thể sử dụng sụn silicone truyền thống, không cần tốn thêm nhiều tiền cho các loại mới đang quảng cáo rầm rộ. <br>
                        Các loại sụn mới được quảng cáo có độ tương thích cao hơn silicone phải có số liệu khoa học kiểm chứng. Tuyên bố của một hãng hay một chuyên gia nào đó không có giá trị bằng các nghiên cứu khoa học.</p>

                        <p style="text-align: right; font-weight: bold;">Bác sĩ Vũ Sơn</p>

                    </div>
                </div>
                <% include ./partials/sidebar %>
            </div>
        </div>
    </div>
</div>
<% include ./partials/footer %>
<% include ./partials/endhead %>