<% include ./partials/head %>
<header>
<% include ./partials/header %>
<% include ./partials/navigation %>
</header>
<h1>Web Template</h1>
<% include ./partials/footer %>
<% include ./partials/endhead %>