<% include ./partials/head %>
<header>
<% include ./partials/header %>
<% include ./partials/navigation %>
</header>
<!-- <div class="slider hidden-xs"> <img src="/images/header/single-slider.jpg" width="100%" alt="đội ngũ bác sĩ"></div> -->
<div id="aau-wrapper">
    <div class="single-bar">
        <div class="container">
            <div class="row">
                <div class="bar col-md-12">
                    <div class="bg">
                        <div class="row">
                            <div class="col-md-9 col-sm-8 col-xs-12">
                                <p id="breadcrumbs"><span xmlns:v="http://rdf.data-vocabulary.org/#"><span typeof="v:Breadcrumb"><a href="/home" rel="v:url" property="v:title">Trang Chủ</a> \ <span rel="v:child" typeof="v:Breadcrumb"><span rel="v:child" typeof="v:Breadcrumb"><a href="" rel="v:url" property="v:title">Thay da vật lý</a></span></span>
                                    </span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8 content">
                    <div class="post">
                        <div class="title">
                            <h1>
                                <i class="fa fa-file-text-o"></i> THAY DA VẬT LÝ CÔNG NGHỆ CAO TẠI ALICE NAILS &amp; SPA
                            </h1>
                        </div>

                        <p>
                            <p><img class="aligncenter wp-image-20197" src="/images/homeslider/5.jpg" width="500" height="340"></p>
                        </p>
                        <p style="font-weight: bold;">Tảo sống siêu vi kim, nguồn gốc từ tảo thiên nhiên của Nhật Bản, có công dụng tái tạo làn da tươi trẻ. Công nghệ này đã chứng minh độ an toàn, hiệu quả cao trong việc làm mịn da, xóa thâm nám, nâng cơ mặt và săn chắc làn da. Tảo sống chịu sự tác động nhiệt lượng sâu trên bề mặt da, kích thích quá trình tái tạo mô tế bào mới. Đồng thời kiểm soát độ sâu của nhiệt, bảo vệ lớp thượng bì nhằm tái cấu trúc lại bề mặt da, không gây cảm giác quá nóng, hay tổn thương vùng da lành xung quanh.</p>
                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/post/32.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Alice Nails &amp; Spa sẽ mang lại những dịch vụ tốt nhất cho khách hàng</p>
                        </div>

                        <p>Vi kim hải tảo hay còn gọi là phương pháp “thay da vật lý”, là phương pháp làm đẹp và thải độc da thần tốc, lột bỏ lớp sừng già và tái tạo kích thích sản sinh tế bào da mới, đem lại hiệu quả sau lần đầu tiên. Vi kim hải tảo là phương pháp thay da vật lí, siêu an toàn của phụ nữ Nhật, trong đó, một lớp da mới, sáng và mịn màng hơn nhiều sẽ được thay thế cho lớp da cũ.</p>

                        <h2>TRẺ HÓA DA BẰNG HUYẾT THANH TẾ BÀO GỐC SỬ DỤNG CÔNG NGHỆ GÌ ?</h2>
                        <p>
                        PRP là cách gọi tắt của từ tiếng anh “Platalet Rich Plasma” có nghĩa là huyết tương giàu tiểu cầu. Thông thường ở trong máu hồng cầu chiếm khoảng 93%, tiểu cầu 6% và bạch cầu 1%. Với công nghệ PRP lượng tiểu cầu được nâng lên đến 94% và lượng hồng cầu giảm còn 5%. <br>
                        Phương pháp này được thực hiện bằng cách lấy màu tự thân sau đó đưa qua một quy trình chiết xuất bỏ đi hồng cầu , bạch cầu nhận được một lượng huyết tương giàu tiểu cầu – PRP. Lượng PRP này được đưa vào da cần điều trị giúp khôi phục và trẻ hóa các tế bào tổn thương kích thích sản sinh tế bào mới.
                        </p>
                        
                        <h2>PHƯƠNG PHÁP ĐƯỢC CHỈ ĐỊNH ÁP DỤNG CHO CÁC TRƯỜNG HỢP SAU:</h2>
                        <ul>
                            <li>Da khô, thô ráp, thâm mụn</li>
                            <li>Da có nhiều nếp nhăn li ti, sần sùi vỏ cam</li>
                            <li>Lỗ chân lông to, bề mặt da xỉn màu, loang lổ không đều màu</li>
                        </ul>
                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/post/33.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Vi kim hải tảo hay còn gọi là phương pháp “thay da vật lý”, là phương pháp làm đẹp và thải độc da thần tốc</p>
                        </div>

                        <h2>CƠ CHẾ HOẠT ĐỘNG</h2>
                        <p>Các tinh thể hải tảo hình kim rất nhỏ mà mắt thường không thể nhìn thấy, được đưa lên da bằng các thao tác massage sẽ làm các vi kim này ma sát vào da tạo vô số vết thương giả siêu nhỏ, giúp kích thích cơ chế tự làm lành của da, thúc đẩy tăng sinh collagen, từ đó làn da được tái tạo một cách mạnh mẽ.<br>
                        Sau 3 – 5 ngày, lớp tế bào da chết sẽ bong ra ngoài, đồng thời các khoáng chất trong tinh thể tảo sẽ hòa tan và thẩm thấu sâu vào trong da. Nhờ đó, phương pháp mang lại tác dụng tái tạo, trẻ hóa da tự nhiên và hiệu quả.
                        </p>

                        <h2>HIỆU QUẢ</h2>
                        <p>•       Thu nhỏ lỗ chân lông, hiệu quả với mụn ẩn<br>
                        •       Xóa mờ các vết thâm, làm nhạt màu các đốm nám<br>
                        •       Cân bằng tone da, giúp da đều màu, sáng trắng lên 2-3 tone sau quá trình điều trị. Kết quả nhìn thấy rõ ngay sau buổi điều trị đầu tiên<br>
                        •       Tạo một bề mặt da mới, mịn màng, ẩm mịn và tươi nhuận
                        </p>
                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/post/34.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Thay da vật lý giúp xóa mờ các vết thâm, làm nhạt màu các đốm nám</p>
                        </div>

                        <h2>QUY TRÌNH ĐIỀU TRỊ</h2>
                        <p style="font-weight: bold;">Bước 1</p>
                        <p>Tẩy trang, loại bỏ lớp trang điểm, làm da thoáng, sạch</p>
                        <p style="font-weight: bold;">Bước 2</p>
                        <p>Rửa mặt bằng sữa rửa mặt chuyên sâu: loại bỏ cặn bã, bụi bẩn trên bề mặt da, làm sạch lỗ chân lông để chuẩn bị cho bước điều trị sau.</p>
                        <p style="font-weight: bold;">Bước 3</p>
                        <p>Tẩy da chết bằng sản phẩm Cure của Nhật Bản.</p>
                        <p style="font-weight: bold;">Bước 4</p>
                        <p>Đắp khăn nóng giúp da sạch và thư giãn.</p>
                        <p style="font-weight: bold;">Bước 5</p>
                        <p>Massage với tinh thể tảo vi kim theo kĩ thuật Massage trị liệu Nhật Bản.</p>
                        <p style="font-weight: bold;">Bước 6</p>
                        <p>Đắp mặt nạ cân bằng da</p>
                        <p style="font-weight: bold;">Bước 7</p>
                        <p>Bôi kem dưỡng tái tạo da</p>

                        <div class="luuy"> (*) Hiệu quả có thể thay đổi tuỳ theo từng người.</div>
                        <div class="hotline_single text-center"> <img src="/images/header/hl.png" alt="holine"></div>
                    </div>
                </div>
                <% include ./partials/sidebar %>
            </div>
        </div>
    </div>
</div>
<% include ./partials/footer %>
<% include ./partials/endhead %>