<% include ./partials/head %>
<header>
<% include ./partials/header %>
<% include ./partials/navigation %>
</header>
<!-- <div class="slider hidden-xs"> <img src="/images/header/single-slider.jpg" width="100%" alt="đội ngũ bác sĩ"></div> -->
<div id="aau-wrapper">
    <div class="single-bar">
        <div class="container">
            <div class="row">
                <div class="bar col-md-12">
                    <div class="bg">
                        <div class="row">
                            <div class="col-md-9 col-sm-8 col-xs-12">
                                <p id="breadcrumbs"><span xmlns:v="http://rdf.data-vocabulary.org/#"><span typeof="v:Breadcrumb"><a href="/home" rel="v:url" property="v:title">Trang Chủ</a> \ <span rel="v:child" typeof="v:Breadcrumb"><span rel="v:child" typeof="v:Breadcrumb">Tin tức</span></span>
                                    </span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8 content">
                    <div class="archive">
                        <div class="item-archive">
                            <h1 class="cat-title">Chuyên mục: Tin tức</h1>
                            <div class="row">
                                <h3><a href="/vi-sao-ban-hit-khong-khi-cung-beo">Vì sao bạn 'hít không khí' cũng béo?</a></h3>
                                <div class="thumb col-md-12 col-sm-12 col-xs-12">
                                    <a href="/vi-sao-ban-hit-khong-khi-cung-beo" class="thumbnail">
                                        <img src="/images/homeslider/5.jpg" class="attachment-featured-thumb size-featured-thumb wp-post-image" alt="">
                                    </a>
                                </div>
                                <div class="detail col-md-12 col-sm-12 col-xs-12">
                                    <p>Dù bạn đang nỗ lực ăn kiêng để giảm cân nhưng những thói quen không ngờ trong cuộc sống hàng ngày có thể phá hỏng kế hoạch và khiến bạn tăng cân nhanh hơn …</p> <a class="readmore" href="/vi-sao-ban-hit-khong-khi-cung-beo"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Xem thêm</a></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div class="item-archive">                            
                            <div class="row">
                                <h3><a href="/10-cach-tri-quang-tham-mat-bang-nguyen-lieu-tu-nhien" title="">10 cách trị quầng thâm mắt bằng nguyên liệu tự nhiên</a></h3>
                                <div class="thumb col-md-12 col-sm-12 col-xs-12">
                                    <a href="/10-cach-tri-quang-tham-mat-bang-nguyen-lieu-tu-nhien" class="thumbnail">
                                        <img width="250" height="250" src="/images/homeslider/5.jpg" class="attachment-featured-thumb size-featured-thumb wp-post-image" alt="">
                                    </a>
                                </div>
                                <div class="detail col-md-12 col-sm-12 col-xs-12">
                                    <p>Thay vì sử dụng mỹ phẩm đắt tiền, nhiều hóa chất, bạn có thể loại bỏ quầng thâm bằng những nguyên liệu tự nhiên, an toàn.</p> <a class="readmore" href="/10-cach-tri-quang-tham-mat-bang-nguyen-lieu-tu-nhien"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Xem thêm</a></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div class="item-archive">
                            <div class="row">
                                <h3><a href="/Me-mot-con-so-huu-voc-dang-nong-bong-nho-tap-gym" title="">Mẹ một con sở hữu vóc dáng nóng bỏng nhờ tập gym</a></h3>
                                <div class="thumb col-md-12 col-sm-12 col-xs-12"> <a href="/Me-mot-con-so-huu-voc-dang-nong-bong-nho-tap-gym" class="thumbnail"><img width="250" height="250" src="/images/homeslider/5.jpg" class="attachment-featured-thumb size-featured-thumb wp-post-image" alt=""></a></div>
                                <div class="detail col-md-12 col-sm-12 col-xs-12">
                                <p>Từng giảm cân bằng cách chỉ uống nước mía để thải độc, Tuyết Hạnh nhận ra rằng biện pháp duy nhất giúp cô cải thiện vóc dáng sau sinh là chế độ dinh dưỡng hợp lý và tập gym.</p> <a class="readmore" href="/Me-mot-con-so-huu-voc-dang-nong-bong-nho-tap-gym"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Xem thêm</a></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div class="item-archive">
                            <div class="row">
                                <h3><a href="/sun-nang-mui-nao-tot-nhat" title="">Sụn nâng mũi nào tốt nhất?</a></h3>
                                <div class="thumb col-md-12 col-sm-12 col-xs-12"> <a href="/sun-nang-mui-nao-tot-nhat" class="thumbnail"><img width="250" height="250" src="/images/homeslider/5.jpg" class="attachment-featured-thumb size-featured-thumb wp-post-image" alt=""></a></div>
                                <div class="detail col-md-12 col-sm-12 col-xs-12">
                                <p>Các loại sụn mới phải được khoa học kiểm chứng. Tuyên bố của một hãng hay một chuyên gia không có giá trị bằng các nghiên cứu khoa học.</p> <a class="readmore" href="/sun-nang-mui-nao-tot-nhat"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Xem thêm</a></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div class="item-archive">
                            <div class="row">
                                <h3><a href="/2-yeu-to-can-luu-y-khi-hut-mo-khong-phau-thuat" title="">2 yếu tố cần lưu ý khi hút mỡ không phẫu thuật</a></h3>
                                <div class="thumb col-md-12 col-sm-12 col-xs-12"> <a href="/2-yeu-to-can-luu-y-khi-hut-mo-khong-phau-thuat" class="thumbnail"><img width="250" height="250" src="/images/homeslider/5.jpg" class="attachment-featured-thumb size-featured-thumb wp-post-image" alt=""></a></div>
                                <div class="detail col-md-12 col-sm-12 col-xs-12">
                                <p>Thời gian thẩm mỹ và bác sĩ theo dõi là hai yếu tố quan trọng hàng đầu bạn cần cân nhắc khi quyết định hút mỡ không phẫu thuật.</p> <a class="readmore" href="/2-yeu-to-can-luu-y-khi-hut-mo-khong-phau-thuat"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Xem thêm</a></div>
                                <div class="clearfix"></div>
                            </div>
                        </div> 
                        
                        <div class="item-archive">
                            <div class="row">
                                <h3><a href="/Chung-Huyen-Thanh-mat-thon-gon-vi-giam-can" title="">Chúng Huyền Thanh: 'Mặt thon gọn vì giảm cân'</a></h3>
                                <div class="thumb col-md-12 col-sm-12 col-xs-12"> <a href="/Chung-Huyen-Thanh-mat-thon-gon-vi-giam-can" class="thumbnail"><img width="250" height="250" src="/images/homeslider/5.jpg" class="attachment-featured-thumb size-featured-thumb wp-post-image" alt=""></a></div>
                                <div class="detail col-md-12 col-sm-12 col-xs-12">
                                <p>Xuất hiện với khuôn mặt khác lạ và thân mình mảnh mai, Chúng Huyền Thanh vướng vào tin đồn "dao kéo"</p> <a class="readmore" href="/Chung-Huyen-Thanh-mat-thon-gon-vi-giam-can"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Xem thêm</a></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>                        
                    </div>
                    <div class="text-center"></div>
                </div>
                <% include ./partials/sidebar %>
            </div>
        </div>
    </div>
</div>
<% include ./partials/footer %>
<% include ./partials/endhead %>