<% include ./partials/head %>
<header>
<% include ./partials/header %>
<% include ./partials/navigation %>
</header>
<!-- <div class="slider hidden-xs"> <img src="/images/header/single-slider.jpg" width="100%" alt="đội ngũ bác sĩ"></div> -->
<div id="aau-wrapper">
    <div class="single-bar">
        <div class="container">
            <div class="row">
                <div class="bar col-md-12">
                    <div class="bg">
                        <div class="row">
                            <div class="col-md-9 col-sm-8 col-xs-12">
                                <p id="breadcrumbs"><span xmlns:v="http://rdf.data-vocabulary.org/#"><span typeof="v:Breadcrumb"><a href="/home" rel="v:url" property="v:title">Trang Chủ</a> \ <span rel="v:child" typeof="v:Breadcrumb"><span rel="v:child" typeof="v:Breadcrumb"><a href="" rel="v:url" property="v:title">Trẻ hóa làn da</a></span></span>
                                    </span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8 content">
                    <div class="post">
                        <div class="title">
                            <h1>
                                <i class="fa fa-file-text-o"></i> TRẺ HÓA LÀN DA NHỜ TIÊM BOTOX
                            </h1>
                        </div>
                        <p>
                            <p><img class="aligncenter wp-image-20197" src="/images/homeslider/5.jpg" width="500" height="340"></p>
                        </p>
                        <p style="font-weight: bold;">Bạn không còn phải lo lắng khi thực hiện các giải pháp làm đẹp, bởi công nghệ hiện đại nhất sử dụng các phương pháp thẩm mỹ không phẫu thuật, không xâm lấn mà vẫn đạt kết quả như ý.</p>

                        <p>Giải pháp tiêm Botox của Alice Nails &amp; Spa đã hoàn thiện vẻ đẹp của hơn 100 ngàn người trên toàn thế giới. Không chỉ đơn giản là xóa nhăn, trẻ hóa làn da, mà còn là cung cấp cho làn da đầy đủ các dưỡng chất để duy trì sức sống, giải quyết các vấn đề về mụn, nám, lỗ chân lông. <br>
                        Cho dù bạn lo lắng về nếp nhăn ở đuôi mắt, khóe miệng hay bất cứ nơi đâu, bạn sẽ hoàn toàn tìm thấy giải pháp bằng liệu trình tiêm Botox an toàn, hiệu quả đã được minh chứng của Alice Nails &amp; Spa. 
                        </p>
                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/post/37.jpg" alt="" width="513" height="348">
                        </div>

                        <h2>PHÂN LOẠI TIÊM BOTOX </h2>
                        <ul>
                            <li>Tiêm đầy trán/ thái dương</li>
                            <li>Tiêm tan mỡ bọng mắt</li>
                            <li>Tiêm tan thâm quầng mắt</li>
                            <li>Tiêm nâng mũi S-line</li>
                            <li>Tiêm tạo hình môi trái tim, môi cherry, môi Tây, khóe cười</li>
                        </ul>
                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/post/38.jpg" alt="" width="513" height="348">
                        </div>
                   
                        <h2>QUY TRÌNH TIÊM BOTOX</h2>
                        <p style="font-weight: bold;">Bước 1: Dán băng gây tê</p>
                        <p>Sau khi thăm khám và định vị các điểm tiêm, dán băng gây tê trước khi thực hiện tiêm 15 phút.</p>

                        <p style="font-weight: bold;">Bước 2: Phân tích phản ứng trên khuôn mặt</p>
                        <p>Bác sĩ theo dõi và phân tích chuyển động cơ mặt để quyết định vị trí và hàm lượng chất làm đầy cho vẻ đẹp tự nhiên nhất.</p>

                        <p style="font-weight: bold;">Bước 3: Thực hiện tiêm</p>
                        <p>Đưa chất làm đầy vào làn da bằng mũi kim rất nhỏ, không hề gây đau đớn hay chảy máu.</p>

                        <p style="font-weight: bold;">Bước 4: Thoa kem trị liệu</p>
                        <p>Khách hàng kiểm tra kết quả sau khi thực hiện và yêu cầu điều chỉnh nếu muốn.</p>

                        <p>Alice Nails &amp; Spa có niềm tin mạnh mẽ rằng, các liệu pháp chăm sóc da và cơ thể sẽ mang lại hiệu quả tối ưu nhất, khi khách hàng được trải nghiệm cảm giác thư giãn tuyệt đối trong một không gian trang nhã, sang trọng và tinh tế.</p>

                        <div class="luuy"> (*) Hiệu quả có thể thay đổi tuỳ theo từng người.</div>
                        <div class="hotline_single text-center"> <img src="/images/header/hl.png" alt="holine"></div>
                    </div>
                </div>
                <% include ./partials/sidebar %>
            </div>
        </div>
    </div>
</div>
<% include ./partials/footer %>
<% include ./partials/endhead %>