<% include ./partials/head %>
<header>
<% include ./partials/header %>
<% include ./partials/navigation %>
</header>
<!-- <div class="slider hidden-xs"> <img src="/images/header/single-slider.jpg" width="100%" alt="đội ngũ bác sĩ"></div> -->
<div id="aau-wrapper">
    <div class="single-bar">
        <div class="container">
            <div class="row">
                <div class="bar col-md-12">
                    <div class="bg">
                        <div class="row">
                            <div class="col-md-9 col-sm-8 col-xs-12">
                                <p id="breadcrumbs"><span xmlns:v="http://rdf.data-vocabulary.org/#"><span typeof="v:Breadcrumb"><a href="/home" rel="v:url" property="v:title">Trang Chủ</a> \ <span rel="v:child" typeof="v:Breadcrumb"><span rel="v:child" typeof="v:Breadcrumb"><a href="" rel="v:url" property="v:title">Truyền dưỡng colagen</a></span></span>
                                    </span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8 content">
                    <div class="post">
                        <div class="title">
                            <h1>
                                <i class="fa fa-file-text-o"></i> TRUYỀN DƯỠNG TRẮNG COLLAGEN, NUÔI DƯỠNG VẺ ĐẸP TỪ BÊN TRONG
                            </h1>
                        </div>
                        <p>
                            <p><img class="aligncenter wp-image-20197" src="/images/homeslider/5.jpg" width="500" height="340"></p>
                        </p>
                        <p style="font-weight: bold;">Vẻ đẹp thật sự đến từ bên trong, bằng sự chăm sóc kỹ lưỡng và đúng cách, từ đó nét đẹp bên ngoài sẽ luôn tự nhiên và tràn đầy sức sống. Alice Nails &amp; Spa sau những nghiên cứu và học hỏi tại các nước bạn đã lần đầu tiên áp dụng tại Việt Nam dịch vụ độc quyền và các giải pháp tuyệt vời cho làn da chăm sóc tận sâu từ bên trong mà không hề can thiệp xâm lấn.</p>

                        <p>Alice Nails &amp; Spa sử dụng hệ thống truyền dịch để đưa dưỡng chất thấm sâu vào da. Từ đó, những thành phần có lợi cho sự tái sinh của da sẽ len lỏi vào từng tế bào giúp da phục hồi sức sống từ sâu bên trong giải quyết các vấn đề của làn da như nám, mụn, vết nhăn...<br>
                        Với sự tài hoa và kinh nghiệm của đội ngũ Bác sĩ, chúng tôi cam kết những dịch vụ an toàn nhất, giải pháp hoàn hảo nhất, giúp bạn có được vẻ đẹp từ bên trong, luôn rạng ngời tự tin.
                        </p>
                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/post/35.jpg" alt="" width="513" height="348">
                        </div>

                        <h2>ƯU ĐIỂM NỔI TRỘI CỦA LIỆU TRÌNH</h2>
                        <p>• Là công nghệ cảm ứng thông minh và sắc sảo, mang lại hiệu quả chăm sóc da hoàn hảo và vô song. <br>
                        • Mang hơi thở sức bật nóng tự nhiên nhằm tạo ra khả năng oxy hóa cho da, rất tốt cho quá trình điều hòa da.<br> 
                        • Thích hợp với mọi loại da, màu da và các vùng da mặt <br>
                        • Công thức giàu dưỡng chất thấm sâu và nuôi dưỡng da<br>
                        </p>

                        <h2>PHƯƠNG PHÁP ĐẶC BIỆT PHÙ HỢP VỚI</h2>
                        <ul>
                            <li>Khách hàng có nhu cầu làm trắng bật tông và trẻ hóa làn da</li>
                            <li>Khách hàng có độ tuổi từ 16 - 60 tuổi </li>
                            <li>Khách hàng có da sạm màu do tiếp xúc trực tiếp với ánh nắng mặt trời </li>
                            <li>Khách hàng da khô, xỉn màu</li>
                        </ul>

                        <h2>HIỆU QUẢ</h2>
                        <ul>
                            <li>Làm trắng và đồng đều màu da</li>
                            <li>Làm căng mịn da</li>
                            <li>Thu nhỏ lỗ chân lông và thải độc cho da </li>
                            <li>Bổ sung độ ẩm giúp da mịn mướt, mềm mại và tươi trẻ. Không gây khô da. </li>
                            <li>Tăng cường dưỡng chất giúp da khỏe mạnh </li>
                            <li>Trẻ hóa làn da</li>
                        </ul>
                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/post/36.jpg" alt="" width="513" height="348">
                        </div>

                        <p>Một trị liệu đẳng cấp, chuyên nghiệp, được kiểm định nghiêm ngặt từ Châu Âu. Đồng thời trải qua quá trình nghiên cứu, thử nghiệm kỹ lưỡng trên 300.000 làn da phụ nữ Việt trước khi đưa về Việt Nam điều trị cho khách hàng. Alice Nails &amp; Spa hy vọng có cơ hội đồng hành cùng các bạn nhé!</p>

                        <div class="luuy"> (*) Hiệu quả có thể thay đổi tuỳ theo từng người.</div>
                        <div class="hotline_single text-center"> <img src="/images/header/hl.png" alt="holine"></div>
                    </div>
                </div>
                <% include ./partials/sidebar %>
            </div>
        </div>
    </div>
</div>
<% include ./partials/footer %>
<% include ./partials/endhead %>