<% include ./partials/head %>
<header>
<% include ./partials/header %>
<% include ./partials/navigation %>
</header>
<!-- <div class="slider hidden-xs"> <img src="/images/header/single-slider.jpg" width="100%" alt="đội ngũ bác sĩ"></div> -->
<div id="aau-wrapper">
    <div class="single-bar">
        <div class="container">
            <div class="row">
                <div class="bar col-md-12">
                    <div class="bg">
                        <div class="row">
                            <div class="col-md-9 col-sm-8 col-xs-12">
                                <p id="breadcrumbs"><span xmlns:v="http://rdf.data-vocabulary.org/#"><span typeof="v:Breadcrumb"><a href="/home" rel="v:url" property="v:title">Trang Chủ</a> \ <span rel="v:child" typeof="v:Breadcrumb"><span rel="v:child" typeof="v:Breadcrumb"><a href="" rel="v:url" property="v:title">VI KIM TẢO SỐNG NHẬT BẢN</a></span></span>
                                    </span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8 content">
                    <div class="post">
                        <div class="title">
                            <h1>
                                <i class="fa fa-file-text-o"></i> VI KIM TẢO SỐNG NHẬT BẢN TẠI ALICE NAILS &amp; SPA
                            </h1>
                        </div>

                        <p>
                            <p><img class="aligncenter wp-image-20197" src="/images/homeslider/5.jpg" width="500" height="340"></p>
                        </p>
                        
						<p style="font-weight: bold;">Phương pháp chăm sóc da bằng tảo sống vi kim công nghệ Nhật Bản giúp phái đẹp cải thiện làn da đen nám do nắng và bụi bẩn và làn da ấy phải căng mịn, rạng ngời.</p>

                        <p>Nhiều chị em tìm đến các phương pháp chăm sóc da nhanh bằng mỹ phẩm mà không quan tâm đến nguồn gốc, dễ gây ra những bệnh về da, đặc biệt là ung thư. Vì thế, để tìm được cách chăm sóc da mặt phù hợp, có chiết xuất từ thiên nhiên... bạn nên tham khảo những địa chỉ uy tín, sở hữu những phương pháp và công nghệ chăm sóc da mới và an toàn.</p>

                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/post/48.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Vi kim tảo sống Nhật Bản mang lại cho bạn làn da tươi trẻ rạng ngời.</p>
                        </div>

                        <p>Hiện nay, Alice Nails &amp; Spa liên tục cập nhật các phương pháp chăm sóc da trên toàn thế giới, đặc biệt là phương pháp vi kim tảo sống - phương pháp an toàn và hiệu quả từ công nghệ Nhật.<br>
                        Phương pháp này đã chứng minh độ an toàn, hiệu quả cao trong việc làm mịn da, xóa thâm nám, nâng cơ mặt, sạch nhờn cho da, điều trị mụn hiệu quả. Ngoài ra phương pháp này còn điều trị chân lông to, da sần ,thiếu sức sống, tăng cường khả năng đề kháng của da, Phục hồi da hư tổn, yếu, da dị ứng và săn chắc làn da. Tảo sống chịu sự tác động nhiệt lượng sâu trên bề mặt da, kích thích quá trình tái tạo mô tế bào mới.
                        </p>

                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/post/49.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Alice Nails &amp; Spa sẽ mang lại cho bạn làn da như mong muốn</p>
                        </div>

                        <p>Ngoài ra, phương pháp tảo sống siêu vi kim Nhật Bản còn giúp đánh bật tận gốc nguyên nhân hình thành hắc tố melanin, nhờ đó làn da hồi phục được sự tươi trẻ và trạng thái cân bằng.<br>
                        Làn da sau một lần chăm sóc da mặt sẽ tươi mới, căng mịn và đặc biệt sáng hơn, các vết thâm do cháy nắng, mụn cũng mờ nhạt, đồng đều trên mọi vùng cơ thể. Một trong những điểm nổi bật của liệu trình này là kích thích các sợi collagen bên trong da giúp sản sinh collagen, cải thiện nếp nhăn.<br>
                        Liệu trình chăm sóc da phi kim tảo sống Nhật bản tại Alice Nails &amp; Spa có thể giúp phái đẹp chăm sóc trẻ hóa da mặt, làm nhỏ gọn tự nhiên các vùng cơ chảy xệ, cho hiệu quả khuôn mặt chữ V.
                        </p>

                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/post/50.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Sắc đẹp là vũ khí lợi hại nhất từ cái nhìn đầu tiên.</p>
                        </div>

                        <p>Công nghệ trẻ hóa da từ thiên nhiên tại Alice Nails &amp; Spa giúp loại bỏ tế bào chết, tái tạo da mới khỏe đẹp hơn.</p>
						
                        <div class="luuy"> (*) Hiệu quả có thể thay đổi tuỳ theo từng người.</div>
                        <div class="hotline_single text-center"> <img src="/images/header/hl.png" alt="holine"></div>
                    </div>
                </div>
                <% include ./partials/sidebar %>
            </div>
        </div>
    </div>
</div>
<% include ./partials/footer %>
<% include ./partials/endhead %>