<% include ./partials/head %>
<header>
<% include ./partials/header %>
<% include ./partials/navigation %>
</header>
<!-- <div class="slider hidden-xs"> <img src="/images/header/single-slider.jpg" width="100%" alt="đội ngũ bác sĩ"></div> -->
<div id="aau-wrapper">
    <div class="single-bar">
        <div class="container">
            <div class="row">
                <div class="bar col-md-12">
                    <div class="bg">
                        <div class="row">
                            <div class="col-md-9 col-sm-8 col-xs-12">
                                <p id="breadcrumbs"><span xmlns:v="http://rdf.data-vocabulary.org/#"><span typeof="v:Breadcrumb"><a href="/home" rel="v:url" property="v:title">Trang Chủ</a> \ <span rel="v:child" typeof="v:Breadcrumb"><span rel="v:child" typeof="v:Breadcrumb"><a href="" rel="v:url" property="v:title">Vì sao bạn hít không khí cũng béo?</a></span></span>
                                    </span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8 content">
                    <div class="post">
                        <div class="title">
                            <h1>
                                <i class="fa fa-file-text-o"></i> Vì sao bạn 'hít không khí' cũng béo?
                            </h1>
                        </div>

                        <p>
                            <p><img class="aligncenter wp-image-20197" src="/images/homeslider/5.jpg" width="500" height="340"></p>
                        </p>
                        <p style="font-weight: bold;">Dù bạn đang nỗ lực ăn kiêng để giảm cân nhưng những thói quen không ngờ trong cuộc sống hàng ngày có thể phá hỏng kế hoạch và khiến bạn tăng cân nhanh hơn.</p>
                        <p>Không ăn vặt, uống nước ngọt, đồ ăn nhiều dầu mỡ nhưng bạn vẫn tăng cân. "Thủ phạm" có thể chính là những yếu tố dưới đây:</p>

                        <h2>Ánh sáng</h2>
                        <p>
                        Thông qua khả năng cảm nhận ánh sáng, đôi mắt giúp đồng hồ sinh học của cơ thể hoạt động trơn tru. Khi cường độ ánh sáng thấp, tế bào thần kinh giao tiếp với não bộ, thông báo đã đến giờ đi ngủ. Lúc này, não tiết ra hormone melatonin đưa bạn vào giấc mộng. <br>
                        Tuy nhiên, ánh sáng xanh từ các thiết bị điện tử phá vỡ khả năng tự sản xuất melatonin, mất cảm giác về thời gian và thường ăn sai thời điểm, nhất là khi sau hoàng hôn, quá trình trao đổi chất đã chậm lại. Chúng làm đảo lộn chu kỳ sinh học nếu bạn sử dụng điện thoại thông, minh, máy tính, ti vi, quá nhiều vào buổi tối
                        </p>

                        <h2>Stress kéo dài</h2>
                        <p>
                        Stress làm tăng hormone cortisol khiến bạn mất ngủ và cản trở cơ bắp phát triển. Cortisol tăng quá nhiều cũng làm bạn kháng hormone insulin, tăng nguy cơ rối loạn chức năng trao đổi chất và lão hóa.
                        </p>
                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/news/1.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Càng căng thẳng càng dễ tăng cân. Ảnh: Fitness-trening</p>
                        </div>
                        <p>Hormone cortisol tập hợp các axit béo trong máu, lưu trữ chúng vào phần bụng. Vì lượng mỡ lưu trữ không được sử dụng, cơ thể bạn sẽ tìm nhiều calo hơn để thay thế các axit béo đã được giải phóng trước đó. Đây là vòng tuần hoàn, khó tránh khỏi việc tăng cân</p>

                        <h2>Thiếu ngủ</h2>
                        <p>
                        Một số nghiên cứu cho thấy hơn 30% dân số đang ngủ ít hơn 6 tiếng mỗi đêm. Giấc ngủ không đủ làm giảm độ nhạy cảm insulin và khiến bạn tăng cân. Ngủ không đủ còn ảnh hưởng tiêu cực đến khả năng của xây dựng sức mạnh và cơ bắp. <br>
                        Hormone tăng trưởng được tiết ra trong khi ngủ. Giấc ngủ liên quan nhiều đến stress và giảm testosterone. Bạn chỉ cần thiếu một giờ mỗi đêm, bộ não sẽ tiết ra cortisol và thay đổi cơ thể từ xây dựng cơ bắp sang hướng lưu trữ chất béo. <br>
                        Ngay cả với những người đàn ông trẻ, khỏe mạnh, một giấc ngủ ít thời gian làm cơ thể không dung nạp glucose tạm thời (kháng insulin) và tăng lượng thức ăn. Thực tế, kết quả thí nghiệm thiếu ngủ làm giảm 18-20% leptin và gia tăng 24-28% ghrelin, cả hai hormone này đều tạo điều kiện tăng mỡ, giảm cơ bắp.
                        </p>
                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/news/2.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Thiếu ngủ là một trong những nguyên nhân chính gây tăng cân. Ảnh: Ya-krasotka</p>
                        </div>
                        <p>Trong một nghiên cứu từ tạp chí y khoa hàng đầu Annals of Internal Medicine, người tham gia được đưa vào chế độ ăn uống hạn chế tương tự nhưng chia thành các nhóm ngủ riêng biệt. Cả hai nhóm đều mất cùng một lượng cân, nhưng nhóm ngủ 5,5 tiếng mỗi đêm, chỉ giảm 48% mỡ trong khối lượng cân đã mất. Trái ngược, nhóm ngủ 8,5 giờ một đêm, 80% khối lượng cân nặng đã giảm là chất béo.</p>

                        <h2>Ngồi quá nhiều</h2>
                        <p>
                        Khi bạn dành phần lớn thời gian để ngồi ở văn phòng, việc cơ bắp giải phóng các phân tử như lipase lipoprotein, chất béo bị giảm sút, tăng nguy cơ mắc hội chứng chuyển hóa, gây tăng cân, kể cả khi bạn tập thể dục đều đặn. <br>
                        Bên cạnh đó, nghiên cứu từ Đại học bang Kansas (Mỹ) đã kết luận những người ngồi nhiều hơn bốn giờ mỗi ngày có nguy cơ cao phát triển bệnh thoái hóa, không phụ thuộc vào số lượng bài tập mà họ thực hiện.
                    </div>
                </div>
                <% include ./partials/sidebar %>
            </div>
        </div>
    </div>
</div>
<% include ./partials/footer %>
<% include ./partials/endhead %>