<% include ./partials/head %>
<header>
<% include ./partials/header %>
<% include ./partials/navigation %>
</header>
<!-- <div class="slider hidden-xs"> <img src="/images/header/single-slider.jpg" width="100%" alt="đội ngũ bác sĩ"></div> -->
<div id="aau-wrapper">
    <div class="single-bar">
        <div class="container">
            <div class="row">
                <div class="bar col-md-12">
                    <div class="bg">
                        <div class="row">
                            <div class="col-md-9 col-sm-8 col-xs-12">
                                <p id="breadcrumbs"><span xmlns:v="http://rdf.data-vocabulary.org/#"><span typeof="v:Breadcrumb"><a href="/home" rel="v:url" property="v:title">Trang Chủ</a> \ <span rel="v:child" typeof="v:Breadcrumb"><span rel="v:child" typeof="v:Breadcrumb"><a href="" rel="v:url" property="v:title">Điều trị mụn</a></span></span>
                                    </span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8 content">
                    <div class="post">
                        <div class="title">
                            <h1>
                                <i class="fa fa-file-text-o"></i> ĐIỀU TRỊ MỤN TẠI ALICE NAILS &amp; SPA
                            </h1>
                        </div>

                        <p>
                            <p><img class="aligncenter wp-image-20197" src="/images/homeslider/5.jpg" width="500" height="340"></p>
                        </p>
                        <p style="font-weight: bold;">Mụn không nguy hại đến sức khoẻ nhưng lại ảnh hưởng rất lớn đến vấn đề thẩm mỹ, và thường để lại những di chứng về sau nếu không được điều trị kịp thời, như các vết thâm mụn, sẹo lõm... Vì vậy, bạn nên điều trị sớm để lấy lại làn da đẹp nguyên thủy của mình trước khi quá muộn.</p>
                        <p>Điều trị mụn ngày nay với chuyên môn cao của bác sĩ và sự hỗ trợ của công nghệ cao Laser trở nên đơn giản và dễ dàng hơn. Bác sĩ cần biết rõ chính xác nguyên nhân hình thành Mụn, từ đó có thể điều trị mụn hiệu quả, ngăn ngừa sự tái phát trở lại của Mụn. Thông thường, Mụn sẽ hình thành khi bã nhờn ở lỗ chân lông bị bít tắc kết hợp với các tác nhân vi khuẩn, bụi bẩn môi trường... gây viêm lỗ chân lông và sưng tấy. Nếu sự kết hợp này mất đi, mụn sẽ không thể hình thành.</p>
                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/post/1.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Mụn không nguy hại đến sức khoẻ nhưng lại ảnh hưởng rất lớn đến vấn đề thẩm mỹ</p>
                        </div>

                        <h2>ƯU ĐIỂM DỊCH VỤ</h2>
                        <p>
                        Alice Nails &amp; Spa sử dụng công nghệ điều trị thế hệ mới kết hợp với công nghệ Vi kim siêu vi điểm đưa tế bào gốc vào sâu dưới da nhằm điều trị các vấn đề dưới da, đem đến hiệu quả điều trị mụn tối đa. Đồng thời làm lành những tổn thương trên da. <br>
                        Các ưu điểm của Skin Care so với các công nghệ điều trị mụn khác : <br>
                        Công nghệ Vi kim siêu vi điểm đưa tế bào gốc sẽ được bác sĩ chỉ định thêm đối với các bệnh nhân có vấn đề da nhạy cảm, dễ dị ứng và bị mẩn đỏ hoặc trường hợp mụn trứng cá nặng cần rút ngắn quy trình điều trị mụn. <br>
                        Hiệu quả điều trị mụn lên đến 90%: Sự phối hợp hài hoà giữa công nghệ điều trị hàng đầu cùng tinh chất tế bào gốc trong cùng một công nghệ Skin Care đã điều trị trực tiếp 2 nguyên nhân chính gây mụn: Tăng tiết bã nhờn và sự sinh sôi của vi khuẩn P.acné – nghĩa là cùng một lúc có thể đẩy lùi tất cả nguyên nhân gây nên mụn.
                        </p>
                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/post/2.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Tại Alice Nails &amp; Spa các dịch vụ điều trị mụn đều được thực hiện trong quy trình vô trùng</p>
                        </div>

                        <h2>Các lợi ích cộng thêm với Skin Care :</h2>
                        <p>
                        An toàn, không tác dụng phụ: Hệ thống kiểm soát nhiệt độ có thể tự động ngắt nếu nhiệt độ vượt quá mức cho phép. <br>
                        Giúp thu nhỏ lỗ chân lông, giảm tăng bã nhờn ở lỗ chân lông, làm sáng da và trị thâm đỏ. <br>
                        Liệu trình ngắn, tiết kiệm tối đa thời gian điều trị: Rút ngắn quy trình chỉ còn từ 6-8 lần, mỗi lần chỉ từ 15-30 phút.
                        </p>

                        <h2>ĐỐI TƯỢNG ĐIỀU TRỊ</h2>
                        <ul>
                            <li>Mụn tuổi dậy thì.</li>
                            <li>Mụn ở tuổi trưởng thành.</li>
                            <li>Mụn do nội tiết vì mang thai, dị ứng.</li>
                            <li>Đã điều trị mụn ở nhiều nơi nhưng không hiệu quả.</li>
                        </ul>

                        <h2>QUY TRÌNH ĐIỀU TRỊ</h2>
                        <p style="font-weight: bold;">Bước 1: Khám da để xác định tình trạng mụn và chỉ định phác đồ điều trị</p>
                        <p>Alice Nails &amp; Spa sẽ kiểm tra da bạn thật chi tiết để hiểu rõ nguyên nhân khiến da bị mụn. Có rất nhiều nguyên nhân: Do sự rối loạn nội tiết, do chế độ dinh dưỡng, hoặc cuộc sống không cân bằng (thức khuya, căng thẳng..). Sau đó bác sĩ sẽ chỉ định phương pháp điều trị mụn và thời gian điều trị phù hợp nhất cho làn da của bạn. Trong một số trường hợp, bác sĩ có thể kê thêm thuốc thoa, thuốc uống để hỗ trợ tối ưu hóa cho kết quả điều trị.</p>

                        <p style="font-weight: bold;">Bước 2: Tẩy trang và làm sạch da mặt</p>
                        <p>Bạn sẽ được làm sạch da mặt thật cẩn thận để tránh gây viêm nhiễm cho quá trình điều trị. Tại Alice Nails &amp; Spa sữa rửa mặt cho khách hàng được lựa chọn phù hợp với từng làn da, đặc biệt là da nhạy cảm.</p>

                        <p style="font-weight: bold;">Bước 3: Điều trị mụn bằng công nghệ cao</p>
                        <p>Sau các bước chuẩn bị, bạn sẽ được tiến hành điều trị theo một trong những phương pháp được bác sĩ chỉ định dưới đây: <br>
                        Công nghệ Vi kim siêu vi điểm: Điều trị Vi kim siêu vi điểm tế bào gốc giúp rút ngắn quá trình điều trị so với điều trị bằng kê toa thuốc thông thường, ngoài ra còn có tác dụng tăng hiệu quả điều trị mụn, không bị tái phát do các tác nhân mụn tiềm ẩn dưới da. <br>
                        Công nghệ ánh sáng xanh: Có tác dụng giảm nhờn, diệt vi khuẩn đang dưới mụn và da. <br>
                        Kết hợp cả 2 công nghệ trên. <br>
                        Sau khi quá trình điều trị kết thúc, bạn sẽ được vệ sinh da mặt lại một lần nữa để đảm bảo cho quá trình diệt khuẩn trên da thật sự hoàn hảo.
                        </p>
                        <div id="attachment_20204" style="width: 523px" class="wp-caption aligncenter">
                            <img class="wp-image-20204 size-full" src="/images/post/3.jpg" alt="" width="513" height="348">
                            <p class="wp-caption-text">Khách hàng luôn luôn tin tưởng vào dịch vụ tại Alice Nails &amp; Spa</p>
                        </div>

                        <p style="font-weight: bold;">Bước 4: Chăm sóc da mặt</p>
                        <p>Chăm sóc da mặt không những giúp giảm thiểu sự viêm sưng trong quá trình điều trị mà còn giúp da mịn màng hơn, tránh bị thâm sau mụn. Tùy theo tình trạng da của bạn, Alice Nails &amp; Spa sẽ lựa chọn chăm sóc Vitamin hoặc đắp mặt nạ thảo mộc (hoặc kết hợp cả 2).</p>

                        <p style="font-weight: bold;">Bước 5: Tái khám</p>
                        <p>Sau khi liệu trình chăm sóc kết thúc, Alice Nails &amp; Spa sẽ đặt lịch hẹn để tái khám và kiểm tra tình trạng điều trị. Ngoài ra, bạn có thể sẽ được chỉ định thêm kem thoa, thuốc uống, thực phẩm chức năng để hỗ trợ điều trị (nếu cần thiết). Lịch hẹn tái khám, điều trị cho lần kế tiếp sẽ được chuyên viên tư vấn hướng dẫn nhiệt tình trong suốt quá trình điều trị tại Alice Nails &amp; Spa</p>

                        <div class="luuy"> (*) Hiệu quả có thể thay đổi tuỳ theo từng người.</div>
                        <div class="hotline_single text-center"> <img src="/images/header/hl.png" alt="holine"></div>
                    </div>
                </div>
                <% include ./partials/sidebar %>
            </div>
        </div>
    </div>
</div>
<% include ./partials/footer %>
<% include ./partials/endhead %>